<ul class="nav nav-tabs" id="checkbox-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="checkbox-description-tab" data-toggle="tab" href="#checkbox-description-tab-content" role="tab" aria-controls="checkbox-description-tab-content" aria-selected="true">Descrizione</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="checkbox-api-tab" data-toggle="tab" href="#checkbox-api-tab-content" role="tab" aria-controls="checkbox-api-tab-content" aria-selected="false">API</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="checkbox-examples-tab" data-toggle="tab" href="#checkbox-examples-tab-content" role="tab" aria-controls="checkbox-examples-tab-content" aria-selected="false">Esempi</a>
  </li>
</ul>
<div class="tab-content" id="checkbox-content-tab">
  <div class="tab-pane p-3 fade show active" id="checkbox-description-tab-content" role="tabpanel" aria-labelledby="checkbox-description-tab-content">
    <div [innerHTML]="component.description"></div>
  </div>
  <div class="tab-pane p-3 fade" id="checkbox-api-tab-content" role="tabpanel" aria-labelledby="checkbox-api-tab-content">
    <h1>DA IMPLEMENTARE</h1>
  </div>
  <div class="tab-pane p-3 fade" id="checkbox-examples-tab-content" role="tabpanel" aria-labelledby="checkbox-examples-tab-content">
    <it-checkbox-examples></it-checkbox-examples>
  </div>
</div>
