
<h3>Elementi disabilitati</h3>
<div class="bd-example">
  <p  class="example-section">
    <span class="d-inline-block" itTooltip="Popover disabilitato">
      <button class="btn btn-primary" type="button" disabled>
        Elemento disabilitato con popover abilitato
      </button>
    </span>
  </p>

  <p  class="example-section">
    <span class="d-inline-block" itTooltip="Popover disabilitato" [disableTooltip] = "true">
      <button class="btn btn-primary" type="button">
        Elemento attivo con popover disabilitato
      </button>
    </span>
  </p>
</div>
