<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Elementi disabilitati</h4>

    <p class="card-text" class="example-section">
      <span class="d-inline-block" itTooltip="Popover disabilitato">
        <button class="btn btn-primary" type="button" disabled>
          Elemento disabilitato con popover abilitato
        </button>
      </span>
    </p>

    <p class="card-text" class="example-section">
      <span class="d-inline-block" itTooltip="Popover disabilitato" [disableTooltip] = "true">
        <button class="btn btn-primary" type="button">
          Elemento attivo con popover disabilitato
        </button>
      </span>
    </p>
  </div>
</div>