<div class="row my-3">
  <div class="col">
    <h3>Hightlights Warning</h3>
  </div>
</div>
<div class="row my-3">
  <div class="col-auto">
    <it-callout [appearance]="appearance" [color]="color" [label]="label">
      <p>
        Maecenas at erat id <strong>sem interdum efficitur eu sed nunc.</strong> Mauris sit amet erat eget augue molestie malesuada ut sed
        ex. In sed dignissim elit. Donec efficitur, sem eget vestibulum auctor, sem erat interdum magna, eu commodo odio mauris semper
        dolor.
      </p>
      <p>
        Maecenas vulputate ante dictum vestibulum volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non augue non
        purus vestibulum varius. Maecenas ullamcorper <a href="#">tincidunt nulla quis laoreet.</a>
      </p>
    </it-callout>
  </div>
</div>
