<div class="row my-3">
  <div class="col-auto">
    <it-callout [appearance]="appearance" [label]="label">
      <ng-container bigText
        >Maecenas at erat id sem interdum efficitur eu sed nunc. Mauris sit amet erat eget augue molestie malesuada ut sed ex. In sed
        dignissim elit.</ng-container
      >
      <p>
        Maecenas vulputate ante dictum vestibulum volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non augue non
        purus vestibulum varius. Maecenas ullamcorper <a href="#">tincidunt nulla quis laoreet.</a>
      </p>
    </it-callout>
  </div>
</div>
