<h3>Pulsante con Progress Bar</h3>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-sm-6">
      <p><strong>Pulsante primario</strong></p>
      <button itButton="primary" progress="true" disabled="true">
        Label pulsante
        <it-icon name="github" color="white" class="ms-2"></it-icon>
      </button>
    </div>
    <div class="col-12 col-sm-6">
      <p><strong>Pulsante secondario</strong></p>
      <button itButton="secondary" [progress]="70" disabled="true">
        Completo al 70%
        <it-icon name="github" color="white" class="ms-2"></it-icon>
      </button>
    </div>
  </div>
</div>
