<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Esempio barra di avanzamento</h4>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueEx1" [min]="minEx1" [max]="maxEx1"></it-progress-bar>
    </p>
  </div>
</div>

<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Esempio con etichette</h4>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueEx2" [min]="minEx2" [max]="maxEx2" [label]="labelEx2"></it-progress-bar>
    </p>
  </div>
</div>

<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Esempio con altezza</h4>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueEx3" [min]="minEx3" [max]="maxEx3" [height]="heightEx3"></it-progress-bar>
    </p>
  </div>
</div>

<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Esempio con sfondi supportati</h4>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueExInfo" [min]="minExInfo" [max]="maxExInfo" [bgColor]="bgColorInfo"></it-progress-bar>
    </p>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueExSuccess" [min]="minExSuccess" [max]="maxExSuccess" [bgColor]="bgColorSuccess"></it-progress-bar>
    </p>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueExWarning" [min]="minExWarning" [max]="maxExWarning" [bgColor]="bgColorWarning"></it-progress-bar>
    </p>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueExDanger" [min]="minExDanger" [max]="maxExDanger" [bgColor]="bgColorDanger"></it-progress-bar>
    </p>
  </div>
</div>