<h3>Configurazione checkbox</h3>

<div class="bd-example">
  <p class="example-section">
    <it-checkbox id="spuntato" [(ngModel)]="checked" label="Spuntato"></it-checkbox>
    <it-checkbox id="disabilitato" [(ngModel)]="disabled" label="Disabilitato"></it-checkbox>
    <it-checkbox id="indeterminato" [(ngModel)]="indeterminate" label="Indeterminato"></it-checkbox>
  </p>

  <h4>Risultato</h4>

  <p class="example-section">
      <it-checkbox
          id="example"
          [(ngModel)]="checked"
          [label]="label"
          [indeterminate]="indeterminate"
          [disabled]="disabled"></it-checkbox>
  </p>

</div>
