<div class="bd-example">
  <h3 class="mb-4">Header Centrale</h3>

  <p>
    <strong>Header Centrale</strong> , per mostrare il logo dell’ente e la sua descrizione,
    link aggiuntivi ai social media e l’accesso al motore di ricerca, se presente.
  </p>

  <it-header title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             [socialNavigation]="navigation">
  </it-header>
  <it-header title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             [light]="true"
             [socialNavigation]="navigation">
  </it-header>


  <br>
  <h3 class="mb-4">Versione compatta</h3>

  <it-header title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             [compactHeader]="true"
             [socialNavigation]="navigation">
  </it-header>
  <it-header title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             light="true"
             [compactHeader]="true"
             [socialNavigation]="navigation">
  </it-header>

  <br>

</div>
