<h1 class="bd-title">Spinner</h1>
<p class="bd-lead">L’elemento Spinner comunica lo stato attivo di un’operazione ma non il progresso percentuale della stessa. È utile quindi quando non è possibile determinare il tempo necessario a completare una procedura.</p>

<it-tab-container>
  <it-tab-item label="Esempi" active="true" class="pt-3">
    <it-spinner-examples></it-spinner-examples>
  </it-tab-item>
  <it-tab-item label="API" class="pt-3">
    <h3>SpinnerComponent</h3>
    <it-api-parameters [component]="component"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
