
<h3>Configurazione Radio button</h3>
<div class="bd-example">
  <p class="example-section">
    <it-checkbox [(ngModel)]="disabled" label="Disabilitato"></it-checkbox>
  </p>
  

  <h4 >Risultato</h4>

  <div class="example-section">
    <it-radio-group [(ngModel)]="selectedColor" [disabled]="disabled">
      <it-radio-button *ngFor="let color of colors" [value]="color" [label]="color"></it-radio-button>
    </it-radio-group>
    <div class="example-selected-value">Colore selezionato: {{selectedColor}}</div>
  </div>
</div>

