<h3>Esempio Accordion Group con Accordion Item Innestati</h3>
<div class="bd-example">
  <div class="example-section">
    <it-accordion title="Sezione 1" opened="true">
      <it-accordion title="Sottotitolo 1">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
        cupidatat skateboard dolor brunch.
      </it-accordion>

      <it-accordion title="Sottotitolo 2">
        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </it-accordion>

      <it-accordion title="Sottotitolo 3">
        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </it-accordion>
    </it-accordion>

    <it-accordion title="Sezione 2">
      <it-accordion title="Sottotitolo 1">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
        cupidatat skateboard dolor brunch.
      </it-accordion>

      <it-accordion title="Sottotitolo 2">
        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </it-accordion>

      <it-accordion title="Sottotitolo 3">
        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </it-accordion>
    </it-accordion>

    <it-accordion title="Sezione 3">
      <it-accordion title="Sottotitolo 1">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
        cupidatat skateboard dolor brunch.
      </it-accordion>

      <it-accordion title="Sottotitolo 2">
        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </it-accordion>

      <it-accordion title="Sottotitolo 3">
        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </it-accordion>
    </it-accordion>
  </div>

  <div class="mt-4">
    <div>Ultimo evento shown emesso da = {{ shownComponent }}</div>

    <div>Ultimo evento hidden emesso da = {{ hiddenComponent }}</div>
  </div>
</div>
