<h3>Avatar Sovrapposti</h3>
<div class="d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap bd-example">
  <div itAvatarGroup>
    <div itAvatarItem>
      <div itAvatar  color="primary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </div>
    <div itAvatarItem>
      <div itAvatar  color="secondary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </div>
    <div itAvatarItem>
      <div itAvatar  color="green">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </div>
    <div itAvatarItem>
      <div itAvatar  color="orange">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </div>
    <div itAvatarItem>
      <div itAvatar  color="red">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </div>
  </div>
</div>

<it-source-display html="
&lt;div class=&quot;d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap bd-example&quot;&gt;
  &lt;div itAvatarGroup&gt;
    &lt;div itAvatarItem&gt;
      &lt;div itAvatar  color=&quot;primary&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div itAvatarItem&gt;
      &lt;div itAvatar  color=&quot;secondary&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div itAvatarItem&gt;
      &lt;div itAvatar  color=&quot;green&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div itAvatarItem&gt;
      &lt;div itAvatar  color=&quot;orange&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div itAvatarItem&gt;
      &lt;div itAvatar  color=&quot;red&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
"
typescript="
import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'it-avatar-example-group',
  templateUrl: './avatar-example-group.component.html',
  styleUrls: ['./avatar-example-group.component.scss']
})
export class AvatarExampleGroupComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
"
>