<h3>Avatar Sovrapposti</h3>
<div class="d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap bd-example">
  <it-avatar-group>
    <it-avatar-item>
      <div itAvatar color="primary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="secondary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="green">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="orange">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="red">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
  </it-avatar-group>
</div>
