<h3>Select con grandezza personalizzata</h3>
<p>
  Puoi personalizzare la grandezza della select con la proprietà <code class="language-plaintext highlighter-rouge">size</code> 
</p>

<div class="bd-example">
  <it-select label="Select Grande" size = "lg" customSelectClass="mb-5">
    <option selected="" value="">Scegli un'opzione</option>
    <option value="1">Opzione 1</option>
    <option value="2">Opzione 2</option>
    <option value="3">Opzione 3</option>
    <option value="4">Opzione 4</option>
    <option value="5">Opzione 5</option>
  </it-select>

  <it-select label="Select Piccola" size = "sm">
    <option selected="" value="">Scegli un'opzione</option>
    <option value="1">Opzione 1</option>
    <option value="2">Opzione 2</option>
    <option value="3">Opzione 3</option>
    <option value="4">Opzione 4</option>
    <option value="5">Opzione 5</option>
  </it-select>
</div>


