<h3>Card speciale</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <ng-container beforeBody>
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <figure class="img-wrapper">
                  <img
                    src="https://placehold.co/174x214/F9F9FE/0066CC/?text=IMMAGINE%20DI%20ESEMPIO"
                    title="titolo immagine"
                    alt="descrizione immagine" />
                </figure>
              </div>
            </div>
          </ng-container>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h3 class="card-title h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h3>
        </it-card>
      </div>
    </div>
  </div>
</div>
