// Modifica completa del template: è possibile ricompilare la libreria modificando alcune variabili SCSS

// Per l'override del colore $primary della palette in formato HSB (colore #FF3333 https://rgb.to/ff3333):

// $primary-h: 0;
// $primary-s: 80;
// $primary-b: 100;




@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300italic.woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-600italic.woff2');
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.woff2');
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.woff2');
  font-style: italic;
}


@font-face {
  font-family: 'Titillium Web';
  src: url('../../assets/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.woff2');
}






@font-face {
  font-family: 'Lora';
  src: url('../../assets/fonts/Lora/lora-v20-latin-ext_latin-700.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Lora';
  src: url('../../assets/fonts/Lora/lora-v20-latin-ext_latin-700italic.woff2');
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'Lora';
  src: url('../../assets/fonts/Lora/lora-v20-latin-ext_latin-italic.woff2');
  font-style: italic;
}


@font-face {
  font-family: 'Lora';
  src: url('../../assets/fonts/Lora/lora-v20-latin-ext_latin-regular.woff2');
}










@font-face {
  font-family: 'Roboto Mono';
  src: url('../../assets/fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-700.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../assets/fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-700italic.woff2');
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../assets/fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-italic.woff2');
  font-style: italic;
}


@font-face {
  font-family: 'Roboto Mono';
  src: url('../../assets/fonts/Roboto_Mono/roboto-mono-v13-latin-ext_latin-regular.woff2');
}

