<h3>Colori</h3>
<div class="bd-example">
  <div class="d-flex gap-1 align-items-center">
    <it-icon name="check-circle" class="bg-light" color="primary"></it-icon>
    <it-icon name="check-circle" class="bg-light" color="secondary"></it-icon>
    <it-icon name="check-circle" class="bg-light" color="success"></it-icon>
    <it-icon name="check-circle" class="bg-light" color="warning"></it-icon>
    <it-icon name="check-circle" class="bg-light" color="danger"></it-icon>
    <it-icon name="check-circle" class="bg-dark" color="light"></it-icon>
    <it-icon name="check-circle" class="bg-dark" color="white"></it-icon>
  </div>
</div>
