<div class="bd-example">
  <h3 class="mb-4">Header Completo</h3>

  <h4>Versione classica</h4>

  <it-header [slimHeader]="true"
             [mainHeader]="true"
             [navHeader]="true"
             [secondaryNavigation]="secondaryNavigation"
             [socialNavigation]="socialNavigation"
             [mainNavigation]="mainNavigation"
             title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             slimTitle="Ente appartenenza">
  </it-header>

  <br>
  <br>
  <h4>Versione chiara</h4>

  <it-header [slimHeader]="true"
             [mainHeader]="true"
             [navHeader]="true"
             [secondaryNavigation]="secondaryNavigation"
             [socialNavigation]="socialNavigation"
             [mainNavigation]="mainNavigation"
             [light]="true"
             title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             slimTitle="Ente appartenenza">
  </it-header>

  <br>
  <br>
  <h4>Versione chiara con sidebar mobile scura</h4>
  <it-header [slimHeader]="true"
             [mainHeader]="true"
             [navHeader]="true"
             [secondaryNavigation]="secondaryNavigation"
             [socialNavigation]="socialNavigation"
             [mainNavigation]="mainNavigation"
             [light]="true"
             [darkMobile]="true"
             title="Nome dell'istituzione"
             subTitle="Tag line dell'istituzione"
             slimTitle="Ente appartenenza">
  </it-header>


</div>
