<h3>Allineamento verticale</h3>
<div class="bd-example">
  <it-table alignment="align-middle">
    <ng-container thead>
      <tr>
        <th scope="col" class="w-25">Intestazione 1</th>
        <th scope="col" class="w-25">Intestazione 2</th>
        <th scope="col" class="w-25">Intestazione 3</th>
        <th scope="col" class="w-25">Intestazione 4</th>
      </tr>
    </ng-container>

    <ng-container tbody>
      <tr>
        <td>Valore 1</td>
        <td>Valore 2</td>
        <td>Valore 3</td>
        <td>This here is some placeholder text, intended to take up quite a bit of vertical space, to demonstrate how the vertical alignment works in the preceding cells.</td>
      </tr>
    </ng-container>
  </it-table>

</div>
