<h1 class="bd-title">Icone</h1>
<p class="bd-lead"></p>

<it-tab-container>
  <it-tab-item label="Esempi" active="true" class="pt-3">
    <it-icon-examples></it-icon-examples>
  </it-tab-item>
  <it-tab-item label="API" class="pt-3">
    <h3>IconComponent</h3>

    <p>E' possibile configurare il path <strong>href</strong> del componente attraverso la configurazione iniziale della libreria.</p>

    <it-source-display [typescript]="hrefLibraryConfig"></it-source-display>

    <it-api-parameters [component]="component"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
