<h1>Dropdown</h1>
<h5>Il componente Dropdown per menù a tendina contestuali</h5>

<it-tab-group>
  <it-tab label="Descrizione">
    <div [innerHTML]="component.description"></div>
  </it-tab>
  <it-tab label="API">
  <!-- TODO: da spostare in una componente ad hoc -->
  <h2>Dropdown</h2>
  <div *ngIf="component.inputsClass.length > 0">
    <h3>Input</h3>
    <div *ngFor="let input of component.inputsClass">
      <table class="table table-bordered table-sm">
        <tbody>
          <tr>
            <td style="width: 20%">
              <code>{{input.name}}</code>
            </td>
            <td style="width: 80%">
              <p>
                <em>Tipo: </em>
                <code>{{input.type}}</code>
              </p>
            </td>
          </tr>
          <tr>
            <td class="col-md-2" colspan="2" [innerHTML]="input.description"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="component.outputsClass.length > 0">
    <h3>Output</h3>
    <!-- TODO: usare lo stesso componente di input -->
  </div>
  <h2>Dropdown Item</h2>
  <div *ngIf="subcomponent.inputsClass.length > 0">
    <h3>Input</h3>
    <div *ngFor="let input of subcomponent.inputsClass">
      <table class="table table-bordered table-sm">
        <tbody>
          <tr>
            <td style="width: 20%">
              <code>{{input.name}}</code>
            </td>
            <td style="width: 80%">
              <p>
                <em>Tipo: </em>
                <code>{{input.type}}</code>
              </p>
            </td>
          </tr>
          <tr>
            <td class="col-md-2" colspan="2" [innerHTML]="input.description"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="subcomponent.outputsClass.length > 0">
    <h3>Output</h3>
    <!-- TODO: usare lo stesso componente di input -->
  </div>
  </it-tab>
  <it-tab label="Esempi">
    <it-dropdown-examples></it-dropdown-examples>
  </it-tab>
</it-tab-group>
