<h3>Select con gruppi</h3>
<p>
  Per ottenere select con raggruppamenti, utilizzare il tag HTML <code class="language-plaintext highlighter-rouge">optgroup</code> per raggruppare le <code class="language-plaintext highlighter-rouge">option</code> al suo interno.
</p>

<div class="bd-example">
  <it-select label="Etichetta">
    <option selected="" value="">Scegli un'opzione</option>
    <optgroup label="Gruppo 1">
      <option value="1">Opzione 1</option>
      <option value="2">Opzione 2</option>
    </optgroup>
    <optgroup label="Gruppo 2">
      <option value="3">Opzione 3</option>
      <option value="4">Opzione 4</option>
    </optgroup>
  </it-select>
</div>