<h3>Card Teaser</h3>
<p></p>

<div class="bd-example">
  <div class="card-wrapper card-teaser-wrapper">
    <it-card teaser="true">
      <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor…</h3>
      <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
    </it-card>
    <it-card teaser="true" rounded="true" shadow="true">
      <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor…</h3>
      <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
    </it-card>
    <it-card teaser="true" rounded="true" shadow="true">
      <h3 class="card-title h5 ">
        <it-icon name="clip"></it-icon>
        <a href="#">Lorem ipsum dolor sit amet</a>
      </h3>
      <div class="card-text font-serif">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</p>
      </div>
    </it-card>
  </div>
</div>