<h1 class="bd-title">Notifiche</h1>
<p class="bd-lead">Per attirare l’attenzione su brevi messaggi di stato.</p>

<it-tab-container>
  <it-tab-item id="example" label="Esempi" active="true" class="pt-3">
    <it-notifications-examples></it-notifications-examples>
  </it-tab-item>
  <it-tab-item id="api" label="API" class="pt-3">
    <h3>NotificationComponent</h3>
    <it-api-parameters [component]="component"></it-api-parameters>
    <h3>NotificationService</h3>
    <it-api-parameters [service]="service"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
