<h3>Sidebar versione scura</h3>

<div class="bd-example">
  <it-sidebar header="Header" dark="true">
    <it-list linkList="true">
      <it-list-item size="medium" active="true" href="#"><span>Link lista 1 (attivo)</span></it-list-item>
      <it-list-item size="medium" disabled="true" href="#"><span>Link lista 2 (disabilitato)</span></it-list-item>
      <it-list-item size="medium" href="#"><span>Link lista 3</span></it-list-item>
      <it-list-item size="medium" href="#"><span>Link lista 4</span></it-list-item>
    </it-list>
    <it-list linkList="true" secondary>
      <it-list-item size="medium" active="true" href="#"><span>Link secondario 1</span></it-list-item>
      <it-list-item size="medium" href="#"><span>Link secondario 2 (attivo)</span></it-list-item>
      <it-list-item size="medium" disabled="true" href="#"><span>Link secondario 3 (disabilitato)</span></it-list-item>
    </it-list>
  </it-sidebar>
</div>
