<h3>Sidebar versione scura</h3>

<div class="bd-example">
  <it-sidebar header="Header" dark="true">
    <it-list linkList="true">
      <it-list-item size="medium" active="true">Link lista 1 (attivo)</it-list-item>
      <it-list-item size="medium" disabled="true">Link lista 2 (disabilitato)</it-list-item>
      <it-list-item size="medium">Link lista 3</it-list-item>
      <it-list-item size="medium">Link lista 4</it-list-item>
    </it-list>
    <it-list linkList="true" secondary>
      <it-list-item size="medium" active="true">Link secondario 1</it-list-item>
      <it-list-item size="medium">Link secondario 2 (attivo)</it-list-item>
      <it-list-item size="medium" disabled="true">Link secondario 3 (disabilitato)</it-list-item>
    </it-list>
  </it-sidebar>
</div>
