<h3>Lista accessibile con link</h3>
<p>Lista implementata con host attribute</p>

<div class="bd-example">
  <it-list linkList="true">
    <li itListItem href="#" externalLink="true">
      <span class="text">Link lista 1</span>
    </li>
    <li itListItem href="#" externalLink="true" disabled="true">
      <span class="text">Link lista 2</span>
    </li>
    <li itListItem href="#" externalLink="true" disabled="true">
      <span class="text">Link lista 3</span>
    </li>
    <li itListItem>
      <span class="divider"></span>
    </li>
    <li itListItem href="#" externalLink="true">
      <span class="text">Link lista 4</span>
    </li>
  </it-list>
</div>
