<h3>Interazione con Select dotato di validazione Model Driven</h3>

<div class="bd-example">
  <form [formGroup]="myForm">
    <it-select [options]="options" formControlName="select"></it-select>

    <div class="d-flex justify-content-between">
      <button itButton="primary" [disabled]="!myForm.valid" (click)="save(myForm)">Salva</button>
      <button itButton="secondary" type="button" (click)="markAllAsTouched()">Valida</button>
    </div>

    <div class="mt-3" *ngIf="savedValue">Salvato `{{savedValue}}`</div>
  </form>
</div>
