<h3>Lista con Avatar</h3>
<i
  >deprecato. Guarda la <a routerLink="/componenti/avatar">documentazione</a> del componente Avatar, in particolare l'esempio Avatar con
  lista</i
>

<div class="bd-example">
  <it-list>
    <it-list-item avatar="https://randomuser.me/api/portraits/women/41.jpg">
      <span class="text">Lista 1</span>
    </it-list-item>
    <it-list-item avatar="https://randomuser.me/api/portraits/women/42.jpg">
      <span class="text">Lista 2</span>
    </it-list-item>
    <it-list-item avatar="https://randomuser.me/api/portraits/women/43.jpg">
      <span class="text">Lista 3</span>
    </it-list-item>
  </it-list>
</div>
