

<it-progress-bar-example></it-progress-bar-example>

<it-source-display html="&lt;div class=&quot;card w-50 mt-2&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Esempio barra di avanzamento&lt;/h4&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueEx1&quot; [min]=&quot;minEx1&quot; [max]=&quot;maxEx1&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card w-50 mt-2&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Esempio con etichette&lt;/h4&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueEx2&quot; [min]=&quot;minEx2&quot; [max]=&quot;maxEx2&quot; [label]=&quot;labelEx2&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card w-50 mt-2&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Esempio con altezza&lt;/h4&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueEx3&quot; [min]=&quot;minEx3&quot; [max]=&quot;maxEx3&quot; [height]=&quot;heightEx3&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card w-50 mt-2&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Esempio con sfondi supportati&lt;/h4&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueExInfo&quot; [min]=&quot;minExInfo&quot; [max]=&quot;maxExInfo&quot; [bgColor]=&quot;bgColorInfo&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueExSuccess&quot; [min]=&quot;minExSuccess&quot; [max]=&quot;maxExSuccess&quot; [bgColor]=&quot;bgColorSuccess&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueExWarning&quot; [min]=&quot;minExWarning&quot; [max]=&quot;maxExWarning&quot; [bgColor]=&quot;bgColorWarning&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-progress-bar [value]=&quot;valueExDanger&quot; [min]=&quot;minExDanger&quot; [max]=&quot;maxExDanger&quot; [bgColor]=&quot;bgColorDanger&quot;&gt;&lt;/it-progress-bar&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;" typescript="import { Component } from &#39;@angular/core&#39;;
import { PROGRESS_BAR_BACKGROUND_CLASSES } from &#39;projects/design-angular-kit/src/public_api&#39;;

@Component({
  selector: &#39;it-progress-bar-example&#39;,
  templateUrl: &#39;./progress-bar-example.component.html&#39;,
  styleUrls: [&#39;./progress-bar-example.component.scss&#39;]
})
export class ProgressBarExampleComponent {

  protected valueEx1 = 50;
  protected minEx1 = 0;
  protected maxEx1 = 100;

  protected valueEx2 = 25;
  protected minEx2 = 0;
  protected maxEx2 = 100;
  protected labelEx2 = &#39;25%&#39;;

  protected valueEx3 = 50;
  protected minEx3 = 0;
  protected maxEx3 = 100;
  protected heightEx3 = 40;

  protected valueExInfo = 25;
  protected minExInfo = 0;
  protected maxExInfo = 100;
  protected bgColorInfo = PROGRESS_BAR_BACKGROUND_CLASSES.BG_INFO;

  protected valueExSuccess = 50;
  protected minExSuccess = 0;
  protected maxExSuccess = 100;
  protected bgColorSuccess = PROGRESS_BAR_BACKGROUND_CLASSES.BG_SUCCESS;

  protected valueExWarning = 75;
  protected minExWarning = 0;
  protected maxExWarning = 100;
  protected bgColorWarning = PROGRESS_BAR_BACKGROUND_CLASSES.BG_WARNING;

  protected valueExDanger = 100;
  protected minExDanger = 0;
  protected maxExDanger = 100;
  protected bgColorDanger = PROGRESS_BAR_BACKGROUND_CLASSES.BG_DANGER;

}
" >
</it-source-display>
