<h3>Card "articolo"</h3>
<div class="bd-example">
  <it-carousel type="three-cols-arrow-visible" lined="true">
    <it-carousel-item>
      <div class="card-wrapper">
        <it-card rounded="true" border="true" shadow="sm" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title it-card-title-icon">
            <a href="#">Titolo contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <address class="it-card-signature">di Gino Rosso</address>
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>
    <it-carousel-item>
      <div class="card-wrapper">
        <it-card rounded="true" border="true" shadow="sm" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title it-card-title-icon">
            <a href="#">Titolo contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <address class="it-card-signature">di Gino Rosso</address>
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>
    <it-carousel-item>
      <div class="card-wrapper">
        <it-card rounded="true" border="true" shadow="sm" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title it-card-title-icon">
            <a href="#">Titolo contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <address class="it-card-signature">di Gino Rosso</address>
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>
    <it-carousel-item>
      <div class="card-wrapper">
        <it-card rounded="true" border="true" shadow="sm" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title it-card-title-icon">
            <a href="#">Titolo contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <address class="it-card-signature">di Gino Rosso</address>
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
