<h1 class="bd-title">Forward</h1>
<p class="bd-lead">Consente all’utente di far scorrere automaticamente ad una parte specifica della pagina.</p>
<div [innerHTML]="directive.description"></div>
<it-tab-container>
  <it-tab-item id="forwardExample" label="Esempi" active="true" class="pt-3">
    <it-forward-examples></it-forward-examples>
  </it-tab-item>
  <it-tab-item id="api" label="API" class="pt-3">
    <it-api-parameters [component]="directive"></it-api-parameters>
  </it-tab-item>
</it-tab-container>

