<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Eventi tooltip</h4>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-lg btn-danger" it-tooltip="Tooltip di esempio" title="Titolo del Tooltip" 
        (show)="logShow()" (inserted)="logInserted()" (shown)="logShown()" (hide)="logHide()" (hidden)="logHidden()"
        #destructibleTooltip="it-tooltip">
        Clicca per il tooltip distruttibile
      </button>

      <button type="button" class="btn btn-lg btn-primary" (click)="destructibleTooltip.dispose()">
        Distruggi il tooltip
      </button>
    </p>

    <p class="card-text" class="example-section">
      Ultima emissione dell'evento show = {{showTime}}
    </p>
    
    <p class="card-text" class="example-section">
      Ultima emissione dell'evento shown = {{shownTime}}
    </p>
    
    <p class="card-text" class="example-section">
      Ultima emissione dell'evento inserted = {{insertedTime}}
    </p>
    
    <p class="card-text" class="example-section">
      Ultima emissione dell'evento hide = {{hideTime}}
    </p>
    
    <p class="card-text" class="example-section">
      Ultima emissione dell'evento hidden = {{hiddenTime}}
    </p>
  </div>
</div>