
<h3>Eventi tooltip</h3>
<div class="bd-example">
  <p  class="example-section">
    <button type="button" class="btn btn-lg btn-danger me-4" 
      itTooltip="Tooltip di esempio"  
      triggers="click" 
      title="Titolo del Tooltip" 
      (shown)="logShown()" 
      (hidden)="logHidden()"
      [autoClose]="false" 
      #destructibleTooltip="itTooltip"
      id="tooltip-example-disposable">
      Clicca per il tooltip distruttibile
    </button>
  
    <button type="button" class="btn btn-lg btn-primary" (click)="destructibleTooltip.close()" id="tooltip-dispose-button">
      Distruggi il tooltip
    </button>
  </p>
  
  
  <div class="tooltip-events mt-4">
    <div *ngIf = "shownTime">
      Ultima emissione dell'evento shown = {{shownTime | date: 'long'}}
    </div>
    
    <div *ngIf = "hiddenTime">
      Ultima emissione dell'evento hidden = {{hiddenTime | date: 'long'}}
    </div>
  </div>
</div>
