<h3>Eventi tooltip</h3>
<div class="bd-example">
  <p class="example-section">
    <button
      itButton="danger"
      size="lg"
      class="me-4"
      itTooltip="Tooltip di esempio"
      (shownEvent)="logShown()"
      (hiddenEvent)="logHidden()"
      #destructibleTooltip="itTooltip">
      Clicca per il tooltip distruttibile
    </button>

    <button itButton="primary" size="lg" (click)="destructibleTooltip.dispose()">Distruggi il tooltip</button>
  </p>

  <div class="tooltip-events mt-4">
    @if (shownTime) {
      <div>Ultima emissione dell'evento shown = {{ shownTime | date: 'long' }}</div>
    }

    @if (hiddenTime) {
      <div>Ultima emissione dell'evento hidden = {{ hiddenTime | date: 'long' }}</div>
    }
  </div>
</div>
