<div class="card w-100 mt-2">
  <div class="card-body">
    <h4 class="card-title">Interazione con bottone</h4>

    <div class="card-text">
      <it-button id="interactive-button" (click)="increaseCount()"
      [color]="selectedColor" [size]="selectedSize" [outline]="outline" [disabled]="disabled" [block]="block">
        Numero click eseguiti: {{count}}
      </it-button>

      <div class="row">
        <div class="form-check col-3">
          <h5>Opzioni</h5>
          <it-checkbox [(ngModel)]="disabled" label="Disabled" id="disabled-checkbox"></it-checkbox>
          <it-checkbox [(ngModel)]="block" label="Block" id="block-checkbox"></it-checkbox>
          <it-checkbox [(ngModel)]="outline" label="Outline" id="outline-checkbox"></it-checkbox>
        </div>
        <div class="form-check col-2">
          <h5>Dimensione</h5>
          <it-radio-group [(ngModel)]="selectedSize">
            <it-radio-button id="radio-standard" name="standard" value="" label="None"></it-radio-button>
            <it-radio-button id="radio-lg" name="lg" value="lg" label="lg"></it-radio-button>
            <it-radio-button id="radio-sm" name="sm" value="sm" label="sm"></it-radio-button>
            <it-radio-button id="radio-xs" name="xs" value="xs" label="xs"></it-radio-button>
          </it-radio-group>
        </div>
        <div class="form-check col-7">
          <h5>Colorazione</h5>
          <it-radio-group [(ngModel)]="selectedColor">
            <div class="row">
              <div class="form-check col-5">
                <it-radio-button id="radio-none" name="none" value="" label="None"></it-radio-button>
                <it-radio-button id="radio-primary" name="primary" value="primary" label="Primary"></it-radio-button>
                <it-radio-button id="radio-secondary" name="secondary" value="secondary" label="Secondary"></it-radio-button>
              </div>
              <div class="form-check col-4">
                <it-radio-button id="radio-success" name="success" value="success" label="Success"></it-radio-button>
                <it-radio-button id="radio-warning" name="warning" value="warning" label="Warning"></it-radio-button>
                <it-radio-button id="radio-danger" name="danger" value="danger" label="Danger"></it-radio-button>
              </div>
              <div class="form-check col-3">
                <it-radio-button id="radio-info" name="info" value="info" label="Info"></it-radio-button>
                <it-radio-button id="radio-light" name="light" value="light" label="Light"></it-radio-button>
                <it-radio-button id="radio-dark" name="dark" value="dark" label="Dark"></it-radio-button>
              </div>
            </div>
          </it-radio-group>
        </div>
      </div>
    </div>
  </div>
</div>