<h3>Spinner doppio</h3>
<div class="bd-example">
  <div class="row">
    <div class="col-6 col-lg-3">
      <p class="mb-3"><strong>Spinner doppio</strong></p>

      <it-spinner active="false" double="true"></it-spinner>
    </div>
    <div class="col-6 col-lg-3">
      <p class="mb-3"><strong>Doppio attivo</strong></p>

      <it-spinner double="true"></it-spinner>
    </div>
    <div class="col-6 col-lg-3 mt-3 mt-lg-0">
      <p class="mb-3"><strong>Doppio small</strong></p>

      <it-spinner active="false" small="true" double="true"></it-spinner>
    </div>
    <div class="col-6 col-lg-3 mt-3 mt-lg-0">
      <p class="mb-3"><strong>Doppio small attivo</strong></p>

      <it-spinner small="true" double="true"></it-spinner>
    </div>
  </div>
</div>
