<h3>Card con immagine in evidenza</h3>
<div class="bd-example">
  <it-carousel>
    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm" inline="true" hasImage="true">
          <!--card first child is all the card content: title (link) + body + footer -->
          <div class="it-card-inline-content">
            <h3 class="it-card-title">
              <a href="#">Titolo contenuto editoriale</a>
            </h3>
            <div class="it-card-body">
              <address class="it-card-signature">di Maria Verde</address>
              <p class="it-card-text">
                Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
                troncamento.
              </p>
            </div>
            <footer class="it-card-related it-card-footer">
              <div class="it-card-taxonomy">
                <a href="#" class="it-card-category it-card-link link-secondary"
                  ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
                >
              </div>
              <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
            </footer>
          </div>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm" inline="true" hasImage="true">
          <!--card first child is all the card content: title (link) + body + footer -->
          <div class="it-card-inline-content">
            <h3 class="it-card-title">
              <a href="#">Titolo contenuto editoriale</a>
            </h3>
            <div class="it-card-body">
              <address class="it-card-signature">di Maria Verde</address>
              <p class="it-card-text">
                Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
                troncamento.
              </p>
            </div>
            <footer class="it-card-related it-card-footer">
              <div class="it-card-taxonomy">
                <a href="#" class="it-card-category it-card-link link-secondary"
                  ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
                >
              </div>
              <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
            </footer>
          </div>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm" inline="true" hasImage="true">
          <!--card first child is all the card content: title (link) + body + footer -->
          <div class="it-card-inline-content">
            <h3 class="it-card-title">
              <a href="#">Titolo contenuto editoriale</a>
            </h3>
            <div class="it-card-body">
              <address class="it-card-signature">di Maria Verde</address>
              <p class="it-card-text">
                Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
                troncamento.
              </p>
            </div>
            <footer class="it-card-related it-card-footer">
              <div class="it-card-taxonomy">
                <a href="#" class="it-card-category it-card-link link-secondary"
                  ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
                >
              </div>
              <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
            </footer>
          </div>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
        </it-card>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
