<h3>Card con immagine in evidenza</h3>
<div class="bd-example">
  <it-carousel>
    <it-carousel-item>
      <a href="#">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <div class="img-wrapper">
              <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine1" title="titolo immagine" alt="descrizione immagine" />
            </div>
          </div>
        </div>
      </a>
      <div class="it-text-slider-wrapper-outside">
        <div class="card-wrapper">
          <it-card>
            <div class="category-top">
              <a class="category" href="#">Categoria</a>
              <span class="data">10/12/2023</span>
            </div>
            <h5 class="card-title big-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <span class="card-signature">di Federico De Paolis</span>
            <a class="read-more" href="#">
              <span class="text"
                >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
              >
              <it-icon name="arrow-right"></it-icon>
            </a>
          </it-card>
        </div>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <a href="#">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <div class="img-wrapper">
              <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine2" title="titolo immagine" alt="descrizione immagine" />
            </div>
          </div>
        </div>
      </a>
      <div class="it-text-slider-wrapper-outside">
        <div class="card-wrapper">
          <it-card>
            <div class="category-top">
              <a class="category" href="#">Categoria</a>
              <span class="data">10/12/2023</span>
            </div>
            <h5 class="card-title big-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <span class="card-signature">di Federico De Paolis</span>
            <a class="read-more" href="#">
              <span class="text"
                >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
              >
              <it-icon name="arrow-right"></it-icon>
            </a>
          </it-card>
        </div>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <a href="#">
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <div class="img-wrapper">
              <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine3" title="titolo immagine" alt="descrizione immagine" />
            </div>
          </div>
        </div>
      </a>
      <div class="it-text-slider-wrapper-outside">
        <div class="card-wrapper">
          <it-card>
            <div class="category-top">
              <a class="category" href="#">Categoria</a>
              <span class="data">10/12/2023</span>
            </div>
            <h5 class="card-title big-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <span class="card-signature">di Federico De Paolis</span>
            <a class="read-more" href="#">
              <span class="text"
                >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
              >
              <it-icon name="arrow-right"></it-icon>
            </a>
          </it-card>
        </div>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
