<h3>Select disabilitata</h3>
<p>
  Per disabilitare una select, aggiungere l’attributo 
  <code class="language-plaintext highlighter-rouge">disabled</code> al componente <code class="language-plaintext highlighter-rouge">it-select</code>
</p>

<div class="bd-example">
  <it-select label="Etichetta" disabled>
    <option selected="" value="">Scegli un'opzione</option>
    <option value="1">Opzione 1</option>
    <option value="2">Opzione 2</option>
    <option value="3">Opzione 3</option>
    <option value="4">Opzione 4</option>
    <option value="5">Opzione 5</option>
  </it-select>
</div>