<h3>Card con immagine in alto</h3>
<div class="bd-example">
  <it-carousel type="three-cols">
    <it-carousel-item>
      <div class="it-single-slide-wrapper h-100 p-2">
        <it-card rounded="true" border="true" shadow="sm" hasImage="true" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">Questo è un testo breve.</p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper h-100 p-2">
        <it-card rounded="true" border="true" shadow="sm" hasImage="true" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">Questo è un testo breve.</p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper h-100 p-2">
        <it-card rounded="true" border="true" shadow="sm" hasImage="true" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">Questo è un testo breve.</p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper h-100 p-2">
        <it-card rounded="true" border="true" shadow="sm" hasImage="true" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">Questo è un testo breve.</p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper h-100 p-2">
        <it-card rounded="true" border="true" shadow="sm" hasImage="true" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">Questo è un testo breve.</p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper h-100 p-2">
        <it-card rounded="true" border="true" shadow="sm" hasImage="true" fullHeight="true">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card second child is the image (optional)-->
          <div class="it-card-image-wrapper">
            <div class="ratio ratio-16x9">
              <figure class="figure img-full">
                <img
                  src="https://placeholderimage.eu/api/city/800/600"
                  alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
              </figure>
            </div>
          </div>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">Questo è un testo breve.</p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <div class="it-card-taxonomy">
              <a href="#" class="it-card-category it-card-link link-secondary"
                ><span class="visually-hidden">Categoria correlata: </span>Categoria</a
              >
            </div>
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
