<h3>Card con immagine in alto</h3>
<div class="bd-example">
  <it-carousel type="three-cols">
    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine1" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <a class="read-more" href="#">
            <span class="text"
              >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
            >
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine2" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <a class="read-more" href="#">
            <span class="text"
              >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
            >
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine3" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <a class="read-more" href="#">
            <span class="text"
              >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
            >
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine4" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <a class="read-more" href="#">
            <span class="text"
              >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
            >
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine5" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <a class="read-more" href="#">
            <span class="text"
              >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
            >
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine6" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <a class="read-more" href="#">
            <span class="text"
              >Leggi di più <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span></span
            >
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
