<h3>Tabella con paginazione</h3>

<div class="bd-example">
  <it-table striped="true">
    <ng-container thead>
      <tr #tableHead>
        <th scope="col" class="w-25">Icona</th>
        <th scope="col" class="w-75">Nome</th>
      </tr>
    </ng-container>

    <ng-container tbody>
      <tr *ngIf="isLoading; else showRows">
        <td class="text-center" [attr.colspan]="tableHead.cells.length">
          <it-spinner double="true"></it-spinner>
        </td>
      </tr>

      <ng-template #showRows>
        <tr *ngIf="!list.length; else dataRows">
          <td class="text-center" [attr.colspan]="tableHead.cells.length">Nessun elemento</td>
        </tr>
        <ng-template #dataRows>
          <tr *ngFor="let item of list">
            <td>
              <it-icon name="user" color="primary"></it-icon>
            </td>
            <td>
              {{item}}
            </td>
          </tr>
        </ng-template>
      </ng-template>

    </ng-container>
  </it-table>

  <it-pagination *ngIf="!isLoading && totalPages > 0"
                 alignment="center"
                 [currentPage]="currentPage"
                 [pageNumbers]="totalPages"
                 [currentChanger]="pageOffset"
                 (changerEvent)="changerEvent($event)"
                 (pageEvent)="getPage($event)"></it-pagination>
</div>
