<h3>Varianti di colore</h3>
<div class="bd-example">
  <div class="row">
    <div class="col-6 col-sm-auto">
      <it-chip [color]="primary" [size]="size" label="Primary"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [color]="secondary" [size]="size" label="Secondary"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [color]="success" [size]="size" label="Success"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [color]="danger" [size]="size" label="Danger"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [color]="warning" [size]="size" label="Warning"></it-chip>
    </div>
  </div>
</div>
