<h3>Lista con checkbox e toggle</h3>
<p></p>

<div class="bd-example">
  <it-list linkList>
    <it-list-item>
      <it-checkbox label="Checkbox 1" group></it-checkbox>
    </it-list-item>
    <it-list-item>
      <it-checkbox label="Checkbox 2" group></it-checkbox>
    </it-list-item>
    <it-list-item active>
      <it-checkbox label="Toggle 1" toggle></it-checkbox>
    </it-list-item>
    <it-list-item active>
      <it-checkbox label="Toggle 2" toggle></it-checkbox>
    </it-list-item>
  </it-list>
</div>
