<h3>Lista con checkbox e toggle</h3>
<p></p>

<div class="bd-example">
  <it-list linkList="true">
    <it-list-item>
      <it-checkbox label="Checkbox 1" group="true"></it-checkbox>
    </it-list-item>
    <it-list-item>
      <it-checkbox label="Checkbox 2" group="true"></it-checkbox>
    </it-list-item>
    <it-list-item active="true">
      <it-checkbox label="Toggle 1" toggle="true"></it-checkbox>
    </it-list-item>
    <it-list-item active="true">
      <it-checkbox label="Toggle 2" toggle="true"></it-checkbox>
    </it-list-item>
  </it-list>
</div>
