<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Le quattro direzioni</h4>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        itTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="tooltip-example-1">
        Tooltip in alto
      </button>
      
      <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
        itTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="tooltip-example-2">
        Tooltip a destra
      </button>

      <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
        itTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="tooltip-example-3">
        Tooltip a sinistra
      </button>
      
      <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        itTooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="tooltip-example-4">
        Tooltip in basso
      </button>
    </p>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-lg btn-danger" itTooltip="Tooltip di esempio" it-title="Titolo del Tooltip" 
        [placement]="currentPlacement" id="tooltip-example-5">
        Clicca per il tooltip ricollocabile
      </button>

      <button type="button" class="btn btn-lg btn-primary" (click)="changeCurrentPlacement()" id="tooltip-placement-button">
        Cambia il collocamento della tooltip
      </button>
    </p>
  </div>
</div>