<div class="row">
    <div class="col-12 col-md-6">
      <h4>Versione Standard</h4>
      <p class="mt-4 mb-2">Solo testo</p>
      <it-chip label="Label"></it-chip>
      <p class="mt-4 mb-2">Testo e chiusura</p>
      <it-chip *ngIf="el.first" [showCloseButton]="true" label="Label" (closeEvent)="close('first')"></it-chip>
      <p class="mt-4 mb-2">Icona, testo e chiusura</p>
      <it-chip *ngIf="el.second" [icon]="iconGithub" [showCloseButton]="true" label="Label" (closeEvent)="close('second')"></it-chip>
      <p class="mt-4 mb-2">Avatar, testo e chiusura</p>
      <it-chip *ngIf="el.third" [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'" [altAvatar]="'Mario Rossi'" [showCloseButton]="true" label="Label" (closeEvent)="close('third')"></it-chip>
    </div>
    <div class="col-12 col-md-6">
      <h4>Versione Grande</h4>
      <p class="mt-4 mb-2">Solo testo grande</p>
      <it-chip [size]="size" label="Label"></it-chip>
      <p class="mt-4 mb-2">Testo e chiusura grande</p>
      <it-chip *ngIf="el.fourth" [size]="size" [showCloseButton]="true" label="Label" (closeEvent)="close('fourth')"></it-chip>
      <p class="mt-4 mb-2">Icona, testo e chiusura grande</p>
      <it-chip *ngIf="el.fifth" [icon]="iconGithub" [size]="size" [showCloseButton]="true" label="Label" (closeEvent)="close('fifth')"></it-chip>
      <p class="mt-4 mb-2">Avatar, testo e chiusura grande</p>
      <it-chip *ngIf="el.sixth" [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'" [altAvatar]="'Mario Rossi'" [size]="size" [showCloseButton]="true" label="Label" (closeEvent)="close('sixth')"></it-chip>
    </div>
  </div>
