<div class="row">
    <div class="col-12 col-md-6">
      <h4>Versione Standard</h4>
      <p class="mt-4 mb-2">Solo testo</p>
      <it-chip label="Label"></it-chip>
      <p class="mt-4 mb-2">Testo e chiusura</p>
      <it-chip [showCloseButton]="true" label="Label"></it-chip>
      <p class="mt-4 mb-2">Icona, testo e chiusura</p>
      <it-chip [icon]="iconGithub" [showCloseButton]="true" label="Label"></it-chip>
      <p class="mt-4 mb-2">Avatar, testo e chiusura</p>
      <it-chip [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'" [altAvatar]="'Mario Rossi'" [showCloseButton]="true" label="Label"></it-chip>
    </div>
    <div class="col-12 col-md-6">
      <h4>Versione Grande</h4>
      <p class="mt-4 mb-2">Solo testo grande</p>
      <it-chip [size]="size" label="Label"></it-chip>
      <p class="mt-4 mb-2">Testo e chiusura grande</p>
      <it-chip [size]="size" [showCloseButton]="true" label="Label"></it-chip>
      <p class="mt-4 mb-2">Icona, testo e chiusura grande</p>
      <it-chip [icon]="iconGithub" [size]="size" [showCloseButton]="true" label="Label"></it-chip>
      <p class="mt-4 mb-2">Avatar, testo e chiusura grande</p>
      <it-chip [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'" [altAvatar]="'Mario Rossi'" [size]="size" [showCloseButton]="true" label="Label"></it-chip>
    </div>
  </div>