<h3>Posizionamento</h3>

<div class="bd-example">
  <div class="d-flex gap-2">
    <button type="button" itButton="primary" (click)="leftModal.toggle()">Allineamento a sinistra</button>
    <button type="button" itButton="primary" (click)="centerModal.toggle()">Centratura verticale</button>
    <button type="button" itButton="primary" (click)="rightModal.toggle()">Allineamento a destra</button>
  </div>

  <!-- Allineamento a sinistra -->
  <it-modal #leftModal="itModal" alignment="left" scrollable="true">
    <ng-container modalTitle>Intestazione modale</ng-container>

    <p>In questo caso vengono forniti un pulsante di conferma e uno di chiusura della modale.</p>

    <ng-container footer>
      <button itButton="outline-primary" size="sm" type="button" data-bs-dismiss="modal">Ok</button>
    </ng-container>
  </it-modal>

  <!-- Centratura verticale -->
  <it-modal #centerModal="itModal" alignment="centered">
    <ng-container modalTitle>Intestazione modale</ng-container>

    <p>In questo caso vengono forniti un pulsante di conferma e uno di chiusura della modale.</p>

    <ng-container footer>
      <button itButton="outline-primary" size="sm" type="button" data-bs-dismiss="modal">Ok</button>
    </ng-container>
  </it-modal>

  <!-- Allineamento a destra -->
  <it-modal #rightModal="itModal" alignment="right" scrollable="true">
    <ng-container modalTitle>Intestazione modale</ng-container>

    <p>In questo caso vengono forniti un pulsante di conferma e uno di chiusura della modale.</p>

    <ng-container footer>
      <button itButton="outline-primary" size="sm" type="button" data-bs-dismiss="modal">Ok</button>
    </ng-container>
  </it-modal>
</div>
