<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Varianti di dimensione</h4>

    <p class="card-text" class="example-section">
      <it-button size="xs" color="primary">
        Button XS
      </it-button>

      <it-button size="xs" color="secondary">
        Button XS
      </it-button>
    </p>

    <p class="card-text" class="example-section">
      <it-button size="sm" color="primary">
        Button SM
      </it-button>

      <it-button size="sm" color="secondary">
        Button SM
      </it-button>
    </p>

    <p class="card-text" class="example-section">
      <it-button size="lg" color="primary">
        Button LG
      </it-button>

      <it-button size="lg" color="secondary">
        Button LG
      </it-button>
    </p>
  </div>
</div>