
<h3>Varianti di dimensione</h3>
<div class="bd-example">
  <p class="example-section">
    <it-button size="xs" color="primary" class="me-2">
      Button XS
    </it-button>

    <it-button size="xs" color="secondary">
      Button XS
    </it-button>
  </p>

  <p class="example-section">
    <it-button size="sm" color="primary" class="me-2">
      Button SM
    </it-button>

    <it-button size="sm" color="secondary">
      Button SM
    </it-button>
  </p>

  <p class="example-section">
    <it-button size="lg" color="primary" class="me-2">
      Button LG
    </it-button>

    <it-button size="lg" color="secondary">
      Button LG
    </it-button>
  </p>
</div>
