
<h3>Varianti di dimensione</h3>
<div class="bd-example">
  <p class="example-section">
    <button size="xs" itButton="primary" class="me-2">
      Button XS
    </button>

    <button size="xs" itButton="secondary">
      Button XS
    </button>
  </p>

  <p class="example-section">
    <button size="sm" itButton="primary" class="me-2">
      Button SM
    </button>

    <button size="sm" itButton="secondary">
      Button SM
    </button>
  </p>

  <p class="example-section">
    <button size="lg" itButton="primary" class="me-2">
      Button LG
    </button>

    <button size="lg" itButton="secondary">
      Button LG
    </button>
  </p>
</div>
