<div class="row justify-content-md-center">
  <div class="col-md-8 my-5">
    <h1 class="text-center">Design Angular Kit</h1>
    <div class="col-4 mx-auto">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
        <g>
          <polygon class="st0" fill="#0066CC" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2 	"/>
          <polygon class="st1" fill="#0059b3" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30 	"/>
          <path class="st2" fill="#FFFFFF" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
            L125,52.1z M142,135.4H108l17-40.9L142,135.4z"/>
        </g>
      </svg>
    </div>
    <p class="small text-muted text-center">Il kit Angular per la Pubblica Amministrazione</p>
    <p>Angular Kit è un <b>set di componenti open-source per Angular 14</b> conforme alle Linee guida di design per i servizi digitali della PA, costruito sulle basi dello <a href="https://github.com/italia/design-ui-kit" target="_blank" rel="noopener noreferrer">UI Kit <i class="it-external-link"></i></a> e della libreria <a href="https://italia.github.io/bootstrap-italia/" target="_blank" rel="noopener noreferrer">Bootstrap Italia 2.x<i class="it-external-link"></i></a>. </p>
    <p class="font-weight-bold small text-center">⚠️ Attenzione: la libreria è ancora in fase di sviluppo e non contiene tutti i componenti disponibili nello UI Kit o in Bootstrap Italia.</p>
    <p>Per provare la versione attualmente in sviluppo, è sufficiente installare il pacchetto <code>npm</code> attraverso il seguente comando:</p>
    <p class="text-center"><code>npm install design-angular-kit@unstable --save</code></p>
    <p>È possibile contribuire al progetto con il proprio codice o attraverso la segnalazione di bug al <a href="https://github.com/italia/design-angular-kit/">repository ufficiale</a> di Angular Kit o scrivendoci sul <a href="https://developersitalia.slack.com/messages/C7VPAUVB3/" target="_blank" rel="noopener noreferrer">canale dedicato <i class="it-external-link"></i></a> su Slack.</p>
    <p class="small">Il progetto è distribuito con licenza BSD-3 (consultabile nel file <a href="https://github.com/italia/design-angular-kit/blob/master/LICENSE">LICENSE</a>), un modello ancora più permissivo della classica licenza GPL, in quanto consente di modificare e ridistribuire questo software secondo varie modalità, anche di tipo closed-source.</p>
  </div>
</div>
