<h3>Select</h3>
<div class="bd-example">
  <p class="example-section">
    <it-select
      id="default-select"
      label="Etichetta"
      [(ngModel)]="selectedValue"
      [options]="selectOptions"
      defaultOption="Seleziona un elemento">
      <!--Puoi inserire gli option da html o dall'attributo options-->
      <option [value]="1">Opzione 1</option>
    </it-select>
  </p>

  <h4>Risultato</h4>

  <div class="example-section">
    <div class="example-selected-value">Valore selezionato: {{ selectedValue }}</div>
  </div>
</div>
