
<h3>Interazione con Select</h3>
<p>Elementi e stili per la creazione di select accessibili e responsive.</p>

<div class="bd-example">
      <it-select [(ngModel)]="selectValue" label="Etichetta">
        <option selected="" value="">Scegli un'opzione</option>
        <option value="Value 1">Opzione 1</option>
        <option value="Value 2">Opzione 2</option>
        <option value="Value 3">Opzione 3</option>
        <option value="Value 4">Opzione 4</option>
        <option value="Value 5">Opzione 5</option>

      </it-select>
</div>