<h3>Card con immagine</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card hasImage="true">
          <ng-container beforeBody>
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <figure class="img-wrapper">
                  <img
                    src="https://placehold.co/310x190/0066cc/FFFFFF/?text=IMMAGINE%20DI%20ESEMPIO"
                    title="titolo immagine"
                    alt="descrizione immagine" />
                </figure>
              </div>
            </div>
          </ng-container>
          <h3 class="card-title h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h3>
          <p class="card-text font-serif"></p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card hasImage="true">
          <ng-container beforeBody>
            <div class="img-responsive-wrapper">
              <div class="img-responsive img-responsive-panoramic">
                <figure class="img-wrapper">
                  <img
                    src="https://placehold.co/310x94/0066cc/FFFFFF/?text=IMMAGINE%20DI%20ESEMPIO"
                    title="titolo immagine"
                    alt="descrizione immagine" />
                </figure>
              </div>
            </div>
          </ng-container>
          <h3 class="card-title h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h3>
          <p class="card-text font-serif"></p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card hasImage="true">
          <ng-container beforeBody>
            <div class="img-responsive-wrapper">
              <div class="img-responsive">
                <figure class="img-wrapper">
                  <img
                    src="https://placehold.co/310x190/0066cc/FFFFFF/?text=IMMAGINE%20DI%20ESEMPIO"
                    title="titolo immagine"
                    alt="descrizione immagine" />
                </figure>
                <div class="card-calendar d-flex flex-column justify-content-center">
                  <span class="card-date">31</span>
                  <span class="card-day">dicembre</span>
                </div>
              </div>
            </div>
          </ng-container>
          <h3 class="card-title h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h3>
          <p class="card-text font-serif"></p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card hasImage="true">
          <ng-container beforeBody>
            <div class="img-responsive-wrapper">
              <div class="img-responsive img-responsive-panoramic">
                <figure class="img-wrapper">
                  <img
                    src="https://placehold.co/310x94/0066cc/FFFFFF/?text=IMMAGINE%20DI%20ESEMPIO"
                    title="titolo immagine"
                    alt="descrizione immagine" />
                </figure>
                <div class="card-calendar d-flex flex-column justify-content-center">
                  <span class="card-date">30</span>
                  <span class="card-day">novembre</span>
                </div>
              </div>
            </div>
          </ng-container>
          <h3 class="card-title h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h3>
          <p class="card-text font-serif"></p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più</span>
            <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </div>
  </div>
</div>
