<h1 class="bd-title">Steppers</h1>
<p class="bd-lead">Gli “Stepper” mostrano l’avanzamento del progresso di una procedura a più passi attraverso la numerazione dei passi stessi.</p>
<it-tab-container>
  <it-tab-item label="Esempi" active="true" class="pt-3">
    <it-steppers-examples></it-steppers-examples>
  </it-tab-item>
  <it-tab-item label="API" class="pt-3">
    <h2>Steppers container</h2>
    <it-api-parameters [component]="steppersContainer"></it-api-parameters>
    <h2>Steppers item</h2>
    <it-api-parameters [component]="steppersItem"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
