<div class="bd-example">
  <div class="row">
    <div class="col-6 col-lg-3">
      <p class="mb-3"><strong>Spinner standard</strong></p>

      <it-spinner active="false"></it-spinner>
    </div>
    <div class="col-6 col-lg-3">
      <p class="mb-3"><strong>Spinner Attivo</strong></p>

      <it-spinner></it-spinner>
    </div>
    <div class="col-6 col-lg-3 mt-3 mt-lg-0">
      <p class="mb-3"><strong>Small</strong></p>

      <it-spinner active="false" small="true"></it-spinner>
    </div>
    <div class="col-6 col-lg-3 mt-3 mt-lg-0">
      <p class="mb-3"><strong>Small attivo</strong></p>

      <it-spinner small="true"></it-spinner>
    </div>
  </div>
</div>
