<h3>Card articolo</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card>
          <div class="category-top">
              <a class="category" href="#">Categoria</a>
              <span class="data">10/12/2023</span>
            </div>
            <h3 class="card-title big-heading h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h3>
            <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <span class="card-signature">di Federico De Paolis</span>
            <a class="read-more" href="#">
              <span class="text">Leggi di più</span>
              <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit…</span>
              <it-icon name="arrow-right"></it-icon>
            </a>
        </it-card>
      </div>
    </div>
  </div>
</div>
