<h3>Avatar con lista</h3>
<div class="bd-example">
  <it-avatar-group linkList="true">
    <it-avatar-item>
      <a itAvatarListItem href="#">
        <div itAvatar size="sm" color="primary">
          <span class="visually-hidden">Mario Rossi</span>
          <img src="https://randomuser.me/api/portraits/men/43.jpg" alt="Mario Rossi" />
        </div>
        <span>Mario Rossi</span>
      </a>
    </it-avatar-item>
    <it-avatar-item>
      <a itAvatarListItem href="#">
        <div itAvatar size="sm" color="secondary">
          <p aria-hidden="true">A</p>
          <span class="visually-hidden">Arianna Gallo</span>
        </div>
        <span>Arianna Gallo</span>
      </a>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatarListItem>
        <div itAvatar size="sm" color="green">
          <p aria-hidden="true">S</p>
          <span class="visually-hidden">Sara Ghione</span>
        </div>
        <span>Sara Ghione</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatarListItem>
        <div itAvatar size="sm" color="red">
          <p aria-hidden="true">A</p>
          <span class="visually-hidden">Antonio Esposito</span>
        </div>
        <span>Antonio Esposito</span>
      </div>
    </it-avatar-item>
  </it-avatar-group>
</div>
