<h3>Avatar con lista usando solo css</h3>
<div class="bd-example">
  <div class="link-list-wrapper">
    <ul class="link-list avatar-group">
      <li>
        <a class="list-item" href="#">
          <div itAvatar size="sm" color="primary">
            <span class="visually-hidden">Mario Rossi</span>
            <img src="https://randomuser.me/api/portraits/men/43.jpg" alt="Mario Rossi" />
          </div>
          <span>Mario Rossi</span>
        </a>
      </li>
      <li>
        <a class="list-item" href="#">
          <div class="avatar avatar-orange size-sm complementary-3-bg">
            <p aria-hidden="true">A</p>
          </div>
          <span>Arianna Gallo</span>
        </a>
      </li>
      <li>
        <div class="list-item">
          <div class="avatar avatar-red size-sm complementary-3-bg">
            <p aria-hidden="true">S</p>
          </div>
          <span>Sara Ghione</span>
        </div>
      </li>
      <li>
        <div class="list-item">
          <div class="avatar size-sm">
            <svg class="icon icon-secondary"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-user"></use></svg>
          </div>
          <span>Antonio Esposito</span>
        </div>
      </li>
    </ul>
  </div>
</div>
