<h3>Configurazione globale dei popover</h3>
<div class="bd-example">
  <p class="card-text example-section">
    <button type="button" class="btn btn-lg btn-danger" itPopover="Popover di esempio" popoverTitle="Titolo del Popover">
      Clicca per attivare/disattivare il popover preconfigurato
    </button>
  </p>

  <p class="card-text example-section">
    <button type="button" class="btn btn-lg btn-danger" itPopover="Popover di esempio" popoverTitle="Titolo del Popover">
      Clicca per attivare/disattivare l'altro popover preconfigurato
    </button>
  </p>
</div>
