<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Configurazione globale dei popover</h4>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-lg btn-danger" it-popover="Popover di esempio" title="Titolo del Popover">
        Clicca per attivare/disattivare il popover preconfigurato
      </button>
    </p>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-lg btn-danger" it-popover="Popover di esempio" title="Titolo del Popover">
        Clicca per attivare/disattivare l'altro popover preconfigurato
      </button>
    </p>
  </div>
</div>