<h3>Avatar con testo aggiuntivo</h3>
<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap bd-example">
  <div itAvatarWrapper extraText>
    <div itAvatar variant="extra-text" size="xl">
      <img src="https://randomuser.me/api/portraits/men/33.jpg" alt="Mario Rossi" />
    </div>
    <div itAvatarExtraText>
      <h4><a href="#">Mario Rossi</a></h4>
      <time datetime="2025-04-10">10 Apr 2025</time>
    </div>
  </div>

  <div itAvatarWrapper extraText>
    <div itAvatar variant="extra-text" size="xl">
      <img src="https://randomuser.me/api/portraits/women/33.jpg" alt="Giulia Neri" />
    </div>
    <div itAvatarExtraText>
      <h4>Giulia Neri</h4>
      <p>Lorem ipsum</p>
    </div>
  </div>

  <div itAvatarWrapper extraText>
    <div itAvatar variant="extra-text" size="xl">
      <img src="https://randomuser.me/api/portraits/men/15.jpg" alt="Luigi Verdi" />
    </div>
    <div class="extra-text">
      <h4><a href="#">Luigi Verdi</a></h4>
      <time datetime="2025-04-10">10 Apr 2025</time>
    </div>
  </div>
</div>
