<h3>Lista con link</h3>
<p></p>

<div class="bd-example">
    <it-list linkList="true">
        <it-list-item href="#" externalLink="true">
          <span class="text">Link lista 1</span>
        </it-list-item>
        <it-list-item href="#" externalLink="true" disabled="true">
          <span class="text">Link lista 2</span>
        </it-list-item>
        <it-list-item href="#" externalLink="true" active="true">
          <span class="text">Link lista 3</span>
        </it-list-item>
    </it-list>
</div>
