<div class="card w-100 mt-2">
  <div class="card-body">
    <h4 class="card-title">Esempio Collapse Group con Collapse Item Innestati</h4>
    <div class="card-text" class="example-section">
      <it-collapse-group accordion>
        <it-collapse-item header="Sezione 1" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
          (hidden)="logHidden($event)">

          <it-collapse-group accordion>
            <it-collapse-item header="Sottotitolo 1" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch.
            </it-collapse-item>
            <it-collapse-item header="Sottotitolo 2" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
              synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </it-collapse-item>
            <it-collapse-item header="Sottotitolo 3" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
              single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
              anderson cred nesciunt sapiente ea proident.
            </it-collapse-item>
          </it-collapse-group>

        </it-collapse-item>
        <it-collapse-item header="Sezione 2" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
          (hidden)="logHidden($event)">
          <it-collapse-group accordion>
            <it-collapse-item header="Sottotitolo 1" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch.
            </it-collapse-item>
            <it-collapse-item header="Sottotitolo 2" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
              synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </it-collapse-item>
            <it-collapse-item header="Sottotitolo 3" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
              single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
              anderson cred nesciunt sapiente ea proident.
            </it-collapse-item>
          </it-collapse-group>

        </it-collapse-item>
        <it-collapse-item header="Sezione 3" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
          (hidden)="logHidden($event)">

          <it-collapse-group accordion>
            <it-collapse-item header="Sottotitolo 1" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
              moon officia aute, non cupidatat skateboard dolor brunch.
            </it-collapse-item>
            <it-collapse-item header="Sottotitolo 2" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
              synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </it-collapse-item>
            <it-collapse-item header="Sottotitolo 3" (show)="logShow($event)" (hide)="logHide($event)" (shown)="logShown($event)"
              (hidden)="logHidden($event)">
              Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
              single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
              anderson cred nesciunt sapiente ea proident.
            </it-collapse-item>
          </it-collapse-group>

        </it-collapse-item>
      </it-collapse-group>
    </div>

    <div>
      Ultimo evento show emesso da = {{showComponent}}
    </div>

    <div>
      Ultimo evento shown emesso da = {{shownComponent}}
    </div>

    <div>
      Ultimo evento hide emesso da = {{hideComponent}}
    </div>

    <div>
      Ultimo evento hidden emesso da = {{hiddenComponent}}
    </div>
  </div>
</div>
