<h3>Dimensioni Avatar</h3>
<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap bd-example">
  <div itAvatar size="xs">
    <p aria-hidden="true">XS</p>
    <span class="visually-hidden">Bottone dimensioni xs</span>
  </div>
  <div itAvatar size="sm">
    <p aria-hidden="true">SM</p>
    <span class="visually-hidden">Bottone dimensioni sm</span>
  </div>
  <div itAvatar size="lg">
    <p aria-hidden="true">LG</p>
    <span class="visually-hidden">Bottone dimensioni lg</span>
  </div>
  <div itAvatar size="xl">
    <p aria-hidden="true">XL</p>
    <span class="visually-hidden">Bottone dimensioni xl</span>
  </div>
  <div itAvatar size="xxl">
    <p aria-hidden="true">XXL</p>
    <span class="visually-hidden">Bottone dimensioni xxl</span>
  </div>
</div>

<it-source-display html="
&lt;div class=&quot;d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap&quot;&gt;
  &lt;div itAvatar size=&quot;xs&quot;&gt;
    &lt;p aria-hidden=&quot;true&quot;&gt;XS&lt;/p&gt;
    &lt;span class=&quot;visually-hidden&quot;&gt;Bottone dimensioni xs&lt;/span&gt;
  &lt;/div&gt;
  &lt;div itAvatar size=&quot;sm&quot;&gt;
    &lt;p aria-hidden=&quot;true&quot;&gt;SM&lt;/p&gt;
    &lt;span class=&quot;visually-hidden&quot;&gt;Bottone dimensioni sm&lt;/span&gt;
  &lt;/div&gt;
  &lt;div itAvatar size=&quot;lg&quot;&gt;
    &lt;p aria-hidden=&quot;true&quot;&gt;LG&lt;/p&gt;
    &lt;span class=&quot;visually-hidden&quot;&gt;Bottone dimensioni lg&lt;/span&gt;
  &lt;/div&gt;
  &lt;div itAvatar size=&quot;xl&quot;&gt;
    &lt;p aria-hidden=&quot;true&quot;&gt;XL&lt;/p&gt;
    &lt;span class=&quot;visually-hidden&quot;&gt;Bottone dimensioni xl&lt;/span&gt;
  &lt;/div&gt;
  &lt;div itAvatar size=&quot;xxl&quot;&gt;
    &lt;p aria-hidden=&quot;true&quot;&gt;XXL&lt;/p&gt;
    &lt;span class=&quot;visually-hidden&quot;&gt;Bottone dimensioni xxl&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
"
typescript="
import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'it-avatar-examples',
  templateUrl: './avatar-examples.component.html',
  styleUrls: ['./avatar-examples.component.scss']
})
export class AvatarExamplesComponent implements OnInit {

  constructor() {}

  ngOnInit(): void {}

}
"
>
</it-source-display>

