<h3>Dimensioni Avatar</h3>
<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap bd-example">
  <div itAvatar size="xs">
    <p aria-hidden="true">XS</p>
    <span class="visually-hidden">Bottone dimensioni xs</span>
  </div>
  <div itAvatar size="sm">
    <p aria-hidden="true">SM</p>
    <span class="visually-hidden">Bottone dimensioni sm</span>
  </div>
  <div itAvatar size="lg">
    <p aria-hidden="true">LG</p>
    <span class="visually-hidden">Bottone dimensioni lg</span>
  </div>
  <div itAvatar size="xl">
    <p aria-hidden="true">XL</p>
    <span class="visually-hidden">Bottone dimensioni xl</span>
  </div>
  <div itAvatar size="xxl">
    <p aria-hidden="true">XXL</p>
    <span class="visually-hidden">Bottone dimensioni xxl</span>
  </div>
</div>
