<h3>Su sfondo scuro</h3>
<div class="bd-example">
  <div class="bg-dark ps-3 py-3">
    <p class="card-text example-section">
      <button itButton="primary" class="me-2">Primary</button>
      <button itButton="outline-primary" class="me-2">Primary outline</button>
      <button itButton="primary" disabled="true">Primary disabled</button>
    </p>
    <p class="card-text example-section">
      <button itButton="secondary" class="me-2">Secondary</button>
      <button itButton="outline-secondary" class="me-2">Secondary outline</button>
      <button itButton="secondary" disabled="true">Secondary disabled</button>
    </p>
  </div>
</div>
