<h1 class="bd-title">Collapse</h1>
<p class="bd-lead">Direttiva per l'interazione con elementi richiudibili</p>
<div [innerHTML]="collapseComponent.description"></div>
<it-tab-container>
  <it-tab-item label="Esempi" active="true" class="pt-3">
    <it-collapse-examples></it-collapse-examples>
  </it-tab-item>
  <it-tab-item label="API" class="pt-3">
    <h2>Collapse</h2>
    <it-api-parameters [component]="collapseComponent"></it-api-parameters>
    <h2>Accordion</h2>
    <it-api-parameters [component]="accordionComponent"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
