<div class="bd-example">

  <it-password-input label="Password con label"
                     validationMode="false"
                     [ngModel]="password"></it-password-input>

  <it-password-input label="Password con label e testo di aiuto"
                     [description]="true"
                     validationMode="false"
                     [ngModel]="passwordText"></it-password-input>

  <it-password-input label="Password con strength meter"
                     showStrengthMeter="true"
                     validationMode="false"
                     [ngModel]="passwordStrengthMeter"></it-password-input>

</div>
