<h3>Gruppi</h3>
<div class="bd-example">
  <p class="example-section">
    <it-checkbox id="first-checkbox" label="Prima checkbox raggruppata" group="true">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero
    </it-checkbox>
    <it-checkbox id="second-checkbox" label="Seconda checkbox raggruppata" group="true">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie liber
    </it-checkbox>
    <it-checkbox id="third-checkbox" label="Terza checkbox raggruppata" group="true">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero
    </it-checkbox>
  </p>
</div>
