<h3>Gruppi</h3>
<div class="bd-example">
  <p class="example-section">
    <it-checkbox label="Prima checkbox raggruppata"  grouped>
      <small id="checkbox1-help" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero
      </small>
    </it-checkbox>
    <it-checkbox label="Seconda checkbox raggruppata" grouped>
      <small id="checkbox2-help" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie liber
      </small>
    </it-checkbox>
    <it-checkbox label="Terza checkbox raggruppata" grouped>
      <div id="checkbox3-help" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero. 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero
      </div>
    </it-checkbox>
  </p>
</div>


















