<h3>Gruppi</h3>
<div class="bd-example">
  <div class="example-section">
    <fieldset>
      <legend>Gruppo di checkbox</legend>
      <it-checkbox label="Prima checkbox raggruppata" group="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero
      </it-checkbox>
      <it-checkbox label="Seconda checkbox raggruppata" group="true">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Maecenas molestie liber
      </it-checkbox>
      <it-checkbox group="true">
        <ng-container label>
          Terza <a href="https://italia.github.io/bootstrap-italia/docs/form/checkbox/">checkbox</a> raggruppata</ng-container
        >

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Maecenas molestie libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie libero
      </it-checkbox>
    </fieldset>
  </div>
</div>
