<h3>Esempio direttiva Collapse</h3>
<div class="bd-example">
  <div class="example-section">

    <button itButton="primary" (click)="itCollapse.toggle()">
      Apri/chiudi contenuto
    </button>

    <it-collapse (onShow)="logShown()" (onHidden)="logHidden()" #itCollapse="itCollapse">
      <div class="py-3">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </it-collapse>
  </div>

  <div class="mt-4">
    <div>
      Ultima emissione dell'evento shown = {{shownTime}}
    </div>

    <div>
      Ultima emissione dell'evento hidden = {{hiddenTime}}
    </div>
  </div>

</div>
