<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <h4>Elemento custom</h4>
    <it-dropdown label="Azioni">
      <it-dropdown-item>Modifica</it-dropdown-item>
      <it-dropdown-item>Duplica</it-dropdown-item>
      <it-divider></it-divider>
      <it-dropdown-item>Elimina</it-dropdown-item>
    </it-dropdown>
  </div>
  <div class="col-12 col-md-6 mb-4">
    <h4>Attributo su &lt;li&gt;</h4>
    <it-dropdown label="Opzioni">
      <it-dropdown-item>Salva</it-dropdown-item>
      <li itDivider></li>
      <it-dropdown-item>Esci</it-dropdown-item>
    </it-dropdown>
  </div>
</div>
