<h3>Chip disabilitata</h3>
<div class="bd-example">
  <div class="row">
    <div class="col-6 col-sm-auto">
      <it-chip [disabled]="true" [size]="size" label="Label disabilitata"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      @if (el.first) {
        <it-chip
          [disabled]="true"
          [showCloseButton]="true"
          [size]="size"
          label="Label disabilitata"
          (closeEvent)="close('first')"></it-chip>
      }
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [disabled]="true" [icon]="iconGithub" [size]="size" label="Label disabilitata"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip
        [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'"
        [altAvatar]="'Mario Rossi'"
        [disabled]="true"
        [size]="size"
        label="Label disabilitata"></it-chip>
    </div>
  </div>
</div>
