<h3>Avatar Con Dropdown</h3>
<div class="d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap bd-example">
  <it-avatar-group>
    <it-avatar-item>
      <div itAvatar color="primary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="secondary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="green">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="orange">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <it-avatar-dropdown itAvatar color='secondary'>
        <div it-avatar-dropdown-toggle>
          <span class="visually-hidden">Visualizza altri 4 utenti</span>
          <span aria-hidden="true">+4</span>
        </div>
        <it-avatar-dropdown-item link="'#'">
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
        <it-avatar-dropdown-item link="'#'">
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
        <it-avatar-dropdown-item>
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
        <it-avatar-dropdown-item link="'#'">
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
      </it-avatar-dropdown>
    </it-avatar-item>
  </it-avatar-group>
</div>

<it-source-display html="
  &lt;it-avatar-group&gt;
    &lt;it-avatar-item&gt;
      &lt;div itAvatar color=&quot;primary&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/it-avatar-item&gt;
    &lt;it-avatar-item&gt;
      &lt;div itAvatar color=&quot;secondary&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/it-avatar-item&gt;
    &lt;it-avatar-item&gt;
      &lt;div itAvatar color=&quot;green&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/it-avatar-item&gt;
    &lt;it-avatar-item&gt;
      &lt;div itAvatar color=&quot;orange&quot;&gt;
        &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
        &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
      &lt;/div&gt;
    &lt;/it-avatar-item&gt;
    &lt;it-avatar-item&gt;
      &lt;it-avatar-dropdown itAvatar color='secondary'&gt;
        &lt;div it-avatar-dropdown-toggle&gt;
          &lt;span class=&quot;visually-hidden&quot;&gt;Visualizza altri 4 utenti&lt;/span&gt;
          &lt;span aria-hidden=&quot;true&quot;&gt;+4&lt;/span&gt;
        &lt;/div&gt;
        &lt;it-avatar-dropdown-item link=&quot;'#'&quot;&gt;
          &lt;div itAvatar color=&quot;primary&quot;&gt;
            &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
            &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
          &lt;/div&gt;
          &lt;span&gt;Mario Rossi&lt;/span&gt;
        &lt;/it-avatar-dropdown-item&gt;
        &lt;it-avatar-dropdown-item link=&quot;'#'&quot;&gt;
          &lt;div itAvatar color=&quot;primary&quot;&gt;
            &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
            &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
          &lt;/div&gt;
          &lt;span&gt;Mario Rossi&lt;/span&gt;
        &lt;/it-avatar-dropdown-item&gt;
        &lt;it-avatar-dropdown-item&gt;
          &lt;div itAvatar color=&quot;primary&quot;&gt;
            &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
            &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
          &lt;/div&gt;
          &lt;span&gt;Mario Rossi&lt;/span&gt;
        &lt;/it-avatar-dropdown-item&gt;
        &lt;it-avatar-dropdown-item link=&quot;'#'&quot;&gt;
          &lt;div itAvatar color=&quot;primary&quot;&gt;
            &lt;p aria-hidden=&quot;true&quot;&gt;MR&lt;/p&gt;
            &lt;span class=&quot;visually-hidden&quot;&gt;Mario Rossi&lt;/span&gt;
          &lt;/div&gt;
          &lt;span&gt;Mario Rossi&lt;/span&gt;
        &lt;/it-avatar-dropdown-item&gt;
      &lt;/it-avatar-dropdown&gt;
    &lt;/it-avatar-item&gt;
  &lt;/it-avatar-group&gt;
" 
typescript="
import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'it-avatar-example-dropdown',
  templateUrl: './avatar-example-dropdown.component.html',
  styleUrls: ['./avatar-example-dropdown.component.scss']
})
export class AvatarExampleDropdownComponent implements OnInit {

  constructor() { }

  ngOnInit(): void {
  }

}
"></it-source-display>