<h3>Avatar Con Dropdown</h3>
<div class="d-flex align-items-center justify-content-start flex-wrap flex-sm-nowrap bd-example">
  <it-avatar-group>
    <it-avatar-item>
      <div itAvatar color="primary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="secondary">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="green">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <div itAvatar color="orange">
        <p aria-hidden="true">MR</p>
        <span class="visually-hidden">Mario Rossi</span>
      </div>
    </it-avatar-item>
    <it-avatar-item>
      <it-avatar-dropdown itAvatar color='secondary'>
        <div it-avatar-dropdown-toggle>
          <span class="visually-hidden">Visualizza altri 4 utenti</span>
          <span aria-hidden="true">+4</span>
        </div>
        <it-avatar-dropdown-item link="'#'">
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
        <it-avatar-dropdown-item link="'#'">
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
        <it-avatar-dropdown-item>
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
        <it-avatar-dropdown-item link="'#'">
          <div itAvatar color="primary">
            <p aria-hidden="true">MR</p>
            <span class="visually-hidden">Mario Rossi</span>
          </div>
          <span>Mario Rossi</span>
        </it-avatar-dropdown-item>
      </it-avatar-dropdown>
    </it-avatar-item>
  </it-avatar-group>
</div>