<h3>Contenuto aggiuntivo</h3>

<div class="bd-example">
  <div class="example-section">

    <it-alert color="success">
      <ng-container heading>Avviso di successo!</ng-container>

      <p>Stai leggendo questo importante messaggio di avviso di successo. Questo testo di esempio sarà più lungo in modo da poter vedere come funzioni la spaziatura all'interno di un avviso con questo tipo di contenuto.</p>
      <hr>
      <p class="mb-0">Quando necessario, assicurarti di inserire le utilità di margine per mantenere gli spazi equilibrati.</p>
    </it-alert>

  </div>
</div>
