<h3>Presenza utente</h3>
<div class="bd-example">
  <div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap">
    <div itAvatarWrapper>
      <div itAvatar size="xl">
        <img src="https://randomuser.me/api/portraits/men/43.jpg" alt="Luigi Verdi" />
        <div itAvatarPresence presence="active">
          <span class="visually-hidden">Presenza: attivo</span>
        </div>
      </div>
    </div>
    <div itAvatarWrapper>
      <div itAvatar size="xl">
        <img src="https://randomuser.me/api/portraits/women/41.jpg" alt="Luigi Verdi" />
        <div itAvatarPresence presence="busy">
          <span class="visually-hidden">Presenza: non disponibile</span>
        </div>
      </div>
    </div>
    <div itAvatarWrapper>
      <div itAvatar size="xl">
        <img src="https://randomuser.me/api/portraits/men/33.jpg" alt="Luigi Verdi" />
        <div itAvatarPresence presence="hidden">
          <span class="visually-hidden">Presenza: invisibile</span>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap">
    <div itAvatarWrapper>
      <div itAvatar size="md">
        <img src="https://randomuser.me/api/portraits/women/32.jpg" alt="Ludovica Galli" />
        <div itAvatarPresence presence="busy">
          <span class="visually-hidden">Presenza: non disponibile</span>
        </div>
      </div>
    </div>
    <div itAvatarWrapper>
      <div itAvatar size="lg">
        <img src="https://randomuser.me/api/portraits/women/32.jpg" alt="Ludovica Galli" />
        <div itAvatarPresence presence="busy">
          <span class="visually-hidden">Presenza: non disponibile</span>
        </div>
      </div>
    </div>
    <div itAvatarWrapper>
      <div itAvatar size="xl">
        <img src="https://randomuser.me/api/portraits/women/32.jpg" alt="Ludovica Galli" />
        <div itAvatarPresence presence="busy">
          <span class="visually-hidden">Presenza: non disponibile</span>
        </div>
      </div>
    </div>
    <div itAvatarWrapper>
      <div itAvatar size="xxl">
        <img src="https://randomuser.me/api/portraits/women/32.jpg" alt="Ludovica Galli" />
        <div itAvatarPresence presence="busy">
          <span class="visually-hidden">Presenza: non disponibile</span>
        </div>
      </div>
    </div>
  </div>
</div>
