<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <it-dropdown label="Icone a sinistra" iconPosition="left">
      <it-dropdown-item icon="it-star-outline">Azione 1</it-dropdown-item>
      <it-dropdown-item icon="it-settings">Azione 2</it-dropdown-item>
      <it-dropdown-item icon="it-user">Azione 3</it-dropdown-item>
    </it-dropdown>
  </div>
  <div class="col-12 col-md-6 mb-3">
    <it-dropdown label="Icone a destra" iconPosition="right">
      <it-dropdown-item icon="it-star-outline">Azione 1</it-dropdown-item>
      <it-dropdown-item icon="it-settings">Azione 2</it-dropdown-item>
      <it-dropdown-item icon="it-user" iconPosition="left">Override a sinistra</it-dropdown-item>
    </it-dropdown>
  </div>
</div>
