<h3>Colori Avatar</h3>
<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap bd-example">
  <div itAvatar size="lg" color="primary">
    <p aria-hidden="true">MR</p>
    <span class="visually-hidden">Mario Rossi</span>
  </div>
  <div itAvatar size="lg" color="secondary">
    <p aria-hidden="true">MR</p>
    <span class="visually-hidden">Mario Rossi</span>
  </div>
  <div itAvatar size="lg" color="green">
    <p aria-hidden="true">MR</p>
    <span class="visually-hidden">Mario Rossi</span>
  </div>
  <div itAvatar size="lg" color="orange">
    <p aria-hidden="true">MR</p>
    <span class="visually-hidden">Mario Rossi</span>
  </div>
  <div itAvatar size="lg" color="red">
    <p aria-hidden="true">MR</p>
    <span class="visually-hidden">Mario Rossi</span>
  </div>
</div>