<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Progresso indeterminato</h4>

    <p class="card-text" class="example-section">
      <it-progress-bar [value]="valueEx" indeterminate></it-progress-bar>
    </p>
  </div>
</div>




<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Pulsante con Progress Bar</h4>

    <div class="card-text" class="example-section">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p><strong>Pulsante primario</strong></p>
          <button itButton disabled>
            Label pulsante 
            <it-icon icon = "it-github" color = "white"></it-icon>
            <it-progress-bar [value]="valueEx" indeterminate></it-progress-bar>
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <p><strong>Pulsante secondario</strong></p>
          <button itButton="secondary" disabled>
            Completo al 70%
            <it-icon icon = "it-github" color = "white"></it-icon>
            <it-progress-bar [value]="valueEx" [value] = "70"></it-progress-bar>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


