<h3>Tabs Dinamiche</h3>
<div class="bd-example">

  <it-input id="number-input" type="number" [(ngModel)]="selectedIndex" label="indice del tab selezionato:"></it-input>

  <button itButton="primary" (click)="addTab()">
    Aggiungi un nuovo tab
  </button>
  <it-checkbox id="checkbox-tab" [(ngModel)]="selectAfterAdding"
               label="Seleziona il tab dopo averlo aggiunto"></it-checkbox>


  <div class="mt-5">
    <h4>Risultato tabs</h4>
    <it-tab-container>
      <it-tab-item [id]="'tab-'+index" *ngFor="let tab of tabs; let index = index" [label]="tab"
                   [active]="selectedIndex === index">
        contenuto del {{tab}} tab

        <div class="container-fluid mt-3">
          <button itButton="primary"
                  [disabled]="tabs.length === 1"
                  (click)="removeTab(index)">
            Cancella tab
          </button>
        </div>
      </it-tab-item>
    </it-tab-container>
  </div>


</div>
