<it-header
  slimTitle="Dipartimento per la Trasformazione Digitale + AgID"
  slimTitleLink="/"
  [showSearch]="false"
  [sticky]="true"
  [expand]="true"
  #headerEl>
  <ng-container slimLinkList>
    <ul class="link-list">
      <li>
        <a class="list-item" target="_blank" href="https://pianotriennale-ict.italia.it">Piano Triennale</a>
      </li>
      <li>
        <a class="list-item" target="_blank" href="https://developers.italia.it/">Developers</a>
      </li>
      <li>
        <a class="ist-item" target="_blank" href="https://designers.italia.it">Designers</a>
      </li>
      <li>
        <a class="list-item" target="_blank" href="https://forum.italia.it/">Forum</a>
      </li>
      <li>
        <a class="list-item" target="_blank" href="https://docs.italia.it/">Docs</a>
      </li>
      <li>
        <a class="list-item" target="_blank" href="https://github.com/italia/">GitHub</a>
      </li>
    </ul>
  </ng-container>
  <ng-container brand>
    <a href="#">
      <it-icon name="designers-italia"></it-icon>
      <div class="it-brand-text">
        <div class="it-brand-title">Design Angular Kit</div>
        <div class="it-brand-tagline d-none d-md-block">Il kit Angular per lo sviluppo di applicazioni web per la PA</div>
      </div>
    </a>
  </ng-container>
  <div class="it-socials d-none d-md-flex" rightZone>
    <ul>
      <li>
        <a href="https://github.com/italia/design-angular-kit/releases/tag/v{{ version }}" aria-label="Ultima release" target="_blank">
          <it-icon name="file"></it-icon><span style="color: white">v{{ version }}</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/italia/design-angular-kit/" aria-label="Github" target="_blank">
          <it-icon name="github"></it-icon>
        </a>
      </li>
    </ul>
  </div>
  <ng-container navItems>
    @for (item of tableOfContent; track item.label) {
      <it-navbar-item class="d-md-none">
        <it-dropdown mode="nav">
          <span button>{{ item.label }}</span>
          <ng-container list>
            @for (link of item.links; track link.label) {
              <it-dropdown-item [externalLink]="false" [href]="link.link" (click)="headerEl.closeNavBar()">{{
                link.label
              }}</it-dropdown-item>
            }
          </ng-container>
        </it-dropdown>
      </it-navbar-item>
    }
  </ng-container>
</it-header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <it-table-of-content class="d-none d-md-flex col-md-3 col-xl-2"></it-table-of-content>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 px-md-3 bd-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="bd-footer text-muted">
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="px-2 py-3">
            <a href="https://innovazione.gov.it" target="_blank">
              <img
                src="https://italia.github.io/bootstrap-italia/docs/assets/img/icons/dtd-logo.svg"
                alt="Dipartimento per la trasformazione digitale"
                height="48"
                style="max-width: 100%" />
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex">
          <div class="px-2 py-3">
            <a href="https://www.agid.gov.it/" target="_blank">
              <img
                src="https://italia.github.io/bootstrap-italia/docs/assets/img/icons/agid-logo.svg"
                alt="Agenzia per l'Italia Digitale"
                height="36"
                style="max-width: 100%" />
            </a>
          </div>
        </div>
        <div class="footer-social col-12 col-md-4 text-white text-end pt-2">
          <span class="d-none d-sm-inline">Seguici su Designers Italia: <br /></span>
          <a class="p-2 text-white" href="https://designers.italia.it/" title="Sito di Designers Italia" target="_blank"
            ><svg class="icon icon-sm icon-light align-top">
              <use
                href="bootstrap-italia/dist/svg/sprites.svg#it-designers-italia"
                xlink:href="/dist/svg/sprites.svg#it-designers-italia"></use></svg
            ><span class="visually-hidden">Sito di Designers Italia</span></a
          >
          <a class="p-2 text-white" href="https://twitter.com/DesignersITA" title="Designers Italia - Twitter" target="_blank"
            ><svg class="icon icon-sm icon-light align-top">
              <use href="bootstrap-italia/dist/svg/sprites.svg#it-twitter" xlink:href="/dist/svg/sprites.svg#it-twitter"></use></svg
            ><span class="visually-hidden">Designers Italia - Twitter</span></a
          >
          <a class="p-2 text-white" href="https://medium.com/designers-italia" title="Designers Italia - Medium" target="_blank"
            ><svg class="icon icon-sm icon-light align-top">
              <use href="bootstrap-italia/dist/svg/sprites.svg#it-medium" xlink:href="/dist/svg/sprites.svg#it-medium"></use></svg
            ><span class="visually-hidden">Designers Italia - Medium</span></a
          >
        </div>
      </div>
    </div>
    <div class="row py-4 border-white border-top">
      <ul class="col list-inline small">
        <li class="list-inline-item px-1">
          <a href="https://designers.italia.it/privacy-policy/" class="small-prints fw-bold text-decoration-none">Privacy Policy</a>
        </li>
        <li class="list-inline-item px-1">
          <a href="https://designers.italia.it/note-legali/" class="small-prints fw-bold text-decoration-none" data-focus-mouse="false"
            >Note Legali</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
