<nav class="navbar-institutional navbar navbar-expand-lg navbar-dark py-1 px-3">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarsTop"
    aria-controls="navbarsTop"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <a class="navbar-brand" href="https://innovazione.gov.it/"
      >Dipartimento <span class="d-none d-lg-inline">per la Trasformazione </span>Digitale</a
    >
    <span class="navbar-brand text-white"> + </span>
    <a class="navbar-brand" href="http://www.agid.gov.it/">AgID</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarsTop">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link" href="https://pianotriennale-ict.italia.it/">Piano Triennale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://developers.italia.it/">Developers</a>
      </li>
      <li class="nav-item nav-item-w-divider">
        <a class="nav-link" href="https://designers.italia.it/">Designers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://forum.italia.it/">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.italia.it/">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/italia/">GitHub</a>
      </li>
    </ul>
  </div>
</nav>
<header class="navbar navbar-dark bd-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand py-2 text-decoration-none" href="#/info/welcome">
      <div class="d-flex flex-row">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 74" height="48">
          <g fill="#FFF">
            <path
              d="M31.799 71.9V15.7h15.1V72h-15.1zM91.099 28.5h-13.8v23.1c0 2.3.1 3.8.2 4.8.1.9.5 1.7 1.2 2.4s1.8 1 3.3 1l8.6-.2.7 12c-5 1.1-8.9 1.7-11.5 1.7-6.8 0-11.4-1.5-13.8-4.6-2.5-3-3.7-8.6-3.7-16.8V0h15.1v15.6h13.8v12.9zM9.099 32.8c-2.6 0-4.8-.9-6.5-2.7s-2.6-4-2.6-6.6.9-4.8 2.5-6.6c1.7-1.8 3.9-2.6 6.5-2.6s4.8.9 6.5 2.7 2.5 4 2.5 6.7-.8 4.8-2.5 6.6c-1.6 1.6-3.7 2.5-6.4 2.5z"></path>
          </g>
        </svg>
        <div class="d-flex flex-column ps-3 ps-sm-4">
          <h1 class="bd-logo-title">Design Angular Kit</h1>
          <h2 class="bd-logo-subtitle">
            Il kit Angular per <span class="d-none d-sm-inline">lo sviluppo di applicazioni web per </span>la PA
          </h2>
        </div>
      </div>
    </a>
    <button
      class="btn btn-xs btn-primary d-md-none px-2 text-uppercase"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#docsNav"
      aria-controls="docsNav"
      aria-expanded="false"
      aria-label="Toggle docs navigation"
      data-focus-mouse="false">
      menu
    </button>
    <ul class="navbar-nav flex-row ms-md-auto d-none d-md-flex">
      <li class="nav-item pe-2">
        <a
          title="Changelog Design Angular Kit"
          data-toggle="tooltip"
          class="nav-link d-flex align-items-center"
          href="https://github.com/italia/design-angular-kit/releases/tag/v{{ version }}"
          aria-label="Changelog"
          data-focus-mouse="false">
          <small class="pe-2 m-0">v{{ version }}</small>
          <svg class="icon icon-sm icon-light">
            <use href="bootstrap-italia/dist/svg/sprites.svg#it-files" xlink:href="/dist/svg/sprites.svg#it-files"></use>
          </svg>
          <span class="visually-hidden">Changelog</span>
        </a>
      </li>
      <li class="nav-item pe-2">
        <a
          title="Repository GitHub di Design Angular Kit"
          data-toggle="tooltip"
          class="nav-link d-flex align-items-center"
          href="https://github.com/italia/design-angular-kit/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub">
          <svg class="icon icon-sm icon-light">
            <use href="bootstrap-italia/dist/svg/sprites.svg#it-github" xlink:href="/dist/svg/sprites.svg#it-github"></use>
          </svg>
          <span class="visually-hidden">GitHub</span>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="collapse" id="docsNav">
      <it-table-of-content class="col-12 d-md-none"></it-table-of-content>
    </div>
    <it-table-of-content class="d-none d-md-flex col-md-3 col-xl-2"></it-table-of-content>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 px-md-3 bd-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="bd-footer text-muted">
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="px-2 py-3">
            <a href="https://innovazione.gov.it" target="_blank">
              <img
                src="https://italia.github.io/bootstrap-italia/docs/assets/img/icons/dtd-logo.svg"
                alt="Dipartimento per la trasformazione digitale"
                height="48"
                style="max-width: 100%" />
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex">
          <div class="px-2 py-3">
            <a href="https://www.agid.gov.it/" target="_blank">
              <img
                src="https://italia.github.io/bootstrap-italia/docs/assets/img/icons/agid-logo.svg"
                alt="Agenzia per l'Italia Digitale"
                height="36"
                style="max-width: 100%" />
            </a>
          </div>
        </div>
        <div class="footer-social col-12 col-md-4 text-white text-end pt-2">
          <span class="d-none d-sm-inline">Seguici su Designers Italia: <br /></span>
          <a class="p-2 text-white" href="https://designers.italia.it/" title="Sito di Designers Italia" target="_blank"
            ><svg class="icon icon-sm icon-light align-top">
              <use
                href="bootstrap-italia/dist/svg/sprites.svg#it-designers-italia"
                xlink:href="/dist/svg/sprites.svg#it-designers-italia"></use></svg
            ><span class="visually-hidden">Sito di Designers Italia</span></a
          >
          <a class="p-2 text-white" href="https://twitter.com/DesignersITA" title="Designers Italia - Twitter" target="_blank"
            ><svg class="icon icon-sm icon-light align-top">
              <use href="bootstrap-italia/dist/svg/sprites.svg#it-twitter" xlink:href="/dist/svg/sprites.svg#it-twitter"></use></svg
            ><span class="visually-hidden">Designers Italia - Twitter</span></a
          >
          <a class="p-2 text-white" href="https://medium.com/designers-italia" title="Designers Italia - Medium" target="_blank"
            ><svg class="icon icon-sm icon-light align-top">
              <use href="bootstrap-italia/dist/svg/sprites.svg#it-medium" xlink:href="/dist/svg/sprites.svg#it-medium"></use></svg
            ><span class="visually-hidden">Designers Italia - Medium</span></a
          >
        </div>
      </div>
    </div>
    <div class="row py-4 border-white border-top">
      <ul class="col list-inline small">
        <li class="list-inline-item px-1">
          <a href="https://designers.italia.it/privacy-policy/" class="small-prints fw-bold text-decoration-none">Privacy Policy</a>
        </li>
        <li class="list-inline-item px-1">
          <a href="https://designers.italia.it/note-legali/" class="small-prints fw-bold text-decoration-none" data-focus-mouse="false"
            >Note Legali</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
