<h3>Input con icona o pulsanti</h3>
<div class="bd-example">
  <div class="row">

    <div class="col-5">
      <!-- Input con icona a sinistra tramite attributo -->
      <it-input [label]="label">
        <it-icon *ngIf="icon" [name]="icon" size="sm" color="primary" prependText></it-icon>
      </it-input>

      <!-- Input con icona a sinistra tramite direttiva itTextSuffix -->
      <it-input [label]="label">
        <it-icon *ngIf="icon" [name]="icon" size="sm" color="primary" appendText></it-icon>
      </it-input>

      <!-- Input con icona a sinistra tramite direttiva itTextSuffix e bottone a destra tramite direttiva itSuffix-->
      <it-input [label]="label">
        <it-icon *ngIf="icon" [name]="icon" size="sm" color="primary" prependText></it-icon>
        <button itButton="primary" append>Invia</button>
      </it-input>
    </div>


    <div class="form-check col-auto offset-1">
      <h5>Icona</h5>
      <it-radio-button name="none" [(ngModel)]="icon" [value]="undefined"
                       label="Nessuna"></it-radio-button>
      <it-radio-button name="it-pencil" [(ngModel)]="icon" value="pencil"
                       label="it-pencil"></it-radio-button>
      <it-radio-button name="it-link" [(ngModel)]="icon" value="link"
                       label="it-link"></it-radio-button>
      <it-radio-button name="it-star-outline" [(ngModel)]="icon" value="star-outline"
                       label="it-star-outline"></it-radio-button>
    </div>
  </div>


</div>
