<div class="card w-100 mt-2">
  <div class="card-body">
    <h4 class="card-title">Interazione con Form Input dotato di validazione Model Driven</h4>

    <div class="card-text">
      <form [formGroup]="myForm">
        <it-input formControlName="myInput"></it-input>
        <p id="mdv-required" class="error"
           *ngIf="myForm.controls.myInput?.errors?.required">Il campo è obbligatorio</p>
        <p id="mdv-minlength" class="error"
           *ngIf="myForm.controls.myInput?.errors?.minlength">deve essere almeno di lunghezza 3</p>
        <p id="mdv-maxlength" class="error"
           *ngIf="myForm.controls.myInput?.errors?.maxlength">deve essere massimo di lunghezza 10</p>
        <p id="mdv-pattern" class="error"
           *ngIf="myForm.controls.myInput?.errors?.pattern">non corrisponde al pattern [ab]+</p>
        <it-button [disabled]="!myForm.valid" (click)="save(myForm)">Salva</it-button>
        <div *ngIf="savedValue">Salvato `{{savedValue}}`</div>
      </form>
    </div>
  </div>
</div>