<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Configurazione bottone</h4>

    <p class="card-text" class="example-section">
      <button itButton>
        Abilitato
      </button>
    </p>

    <p class="card-text" class="example-section">
      <button itButton = "primary" [disabled] = "true">
        Disabilitato
      </button>
    </p>

    <p class="card-text" class="example-section">
      <button itButton block>
        A blocco
      </button>
    </p>
  </div>
</div>