<h3>Card speciali</h3>
<div class="bd-example">
  <it-carousel type="three-cols">
    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine1" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <p class="card-text"></p>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine2" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <p class="card-text"></p>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine3" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <p class="card-text"></p>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine4" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <p class="card-text"></p>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine5" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <p class="card-text"></p>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card hasImage="true" special="true">
          <div class="img-responsive-wrapper" beforeBody>
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://placehold.co/480x360/ebebeb/808080/?text=Immagine6" title="titolo immagine" alt="descrizione immagine" />
              </div>
            </div>
          </div>
          <div class="head-tags"><span class="data">10/10/2023</span></div>
          <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit…</h5>
          <p class="card-text"></p>
        </it-card>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
