<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <it-dropdown label="Outline Primary" color="outline-primary">
      <it-dropdown-item>Azione 1</it-dropdown-item>
      <it-dropdown-item>Azione 2</it-dropdown-item>
      <it-dropdown-item>Azione 3</it-dropdown-item>
    </it-dropdown>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <it-dropdown label="Outline Secondary" color="outline-secondary">
      <it-dropdown-item>Azione 1</it-dropdown-item>
      <it-dropdown-item>Azione 2</it-dropdown-item>
      <it-dropdown-item>Azione 3</it-dropdown-item>
    </it-dropdown>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <it-dropdown label="Outline Danger" color="outline-danger">
      <it-dropdown-item>Azione 1</it-dropdown-item>
      <it-dropdown-item>Azione 2</it-dropdown-item>
      <it-dropdown-item>Azione 3</it-dropdown-item>
    </it-dropdown>
  </div>
</div>
