<h1 class="bd-title">Dimmer</h1>
<p class="bd-lead">Un componente per focalizzare l’attenzione su un contenuto.</p>
<p>Un dimmer occupa tutta l’altezza e la larghezza dell’elemento all’interno del quale è contenuto.</p>
<div [innerHTML]="component.description"></div>
<it-tab-container>
  <it-tab-item id="example" label="Esempi" active="true" class="pt-3">
    <it-dimmer-examples></it-dimmer-examples>
  </it-tab-item>
  <it-tab-item id="api" label="API" class="pt-3">
    <it-api-parameters [component]="component"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
