<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <h4>16x9 (default)</h4>
    <div itRatio="16x9">
      <iframe src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ" title="Video esempio 16x9" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h4>4x3</h4>
    <div itRatio="4x3">
      <iframe src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ" title="Video esempio 4x3" allowfullscreen></iframe>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h4>1x1</h4>
    <div itRatio="1x1">
      <div class="d-flex align-items-center justify-content-center bg-primary text-white h-100">Contenuto 1:1</div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-4">
    <h4>21x9</h4>
    <div itRatio="21x9">
      <div class="d-flex align-items-center justify-content-center bg-secondary text-white h-100">Contenuto 21:9</div>
    </div>
  </div>
</div>
