<h1>Popover</h1>
<h5>La direttiva popover utilizzabile per aggiungere dei tooltip informativi a qualsiasi elemento del tuo sito</h5>

<it-tab-group>
  <it-tab label="Descrizione">
    <div [innerHTML]="directive.description"></div>    
  </it-tab>
  <it-tab label="API">
    <!-- TODO: da spostare in una direttiva ad hoc -->
    <div *ngIf="directive.inputsClass.length > 0">
      <h3>Input</h3>
      <div *ngFor="let input of directive.inputsClass">
        <table class="table table-bordered table-sm">
          <tbody>
            <tr>
              <td style="width: 20%">
                <code>{{input.name}}</code>
              </td>
              <td style="width: 80%">
                <p>
                  <em>Tipo: </em>
                  <code>{{input.type}}</code>
                </p>
              </td>
            </tr>
            <tr>
              <td class="col-md-2" colspan="2" [innerHTML]="input.description"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="directive.outputsClass.length > 0">
      <h3>Output</h3>
      <!-- TODO: usare la stessa direttiva di input -->
    </div>    
  </it-tab>
  <it-tab label="Esempi">
    <it-popover-examples></it-popover-examples>
  </it-tab>
</it-tab-group>
