<h3>Interazione con Form Input dotato di validazione Template Driven</h3>

<div class="bd-example">
  <form #myForm="ngForm">
    <it-input id="myInput-ng-validation" [(ngModel)]="value" name="myInput"
              minlength="3"
              maxlength="10"
              pattern="[ab]+"
              required>
      <!-- Default errors-->
    </it-input>

    <button itButton="primary" [disabled]="!myForm.valid" (click)="save(myForm)">Salva</button>

    <div *ngIf="savedValue">Salvato `{{savedValue}}`</div>
  </form>
</div>
