<h3>Card con icona</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper">
        <it-card>
          <div class="categoryicon-top">
            <it-icon name="file"></it-icon>
            <span class="text">Categoria<br />nome</span>
          </div>
          <a href="#">
            <h3 class="card-title h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
          </a>
          <p class="card-text font-serif">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </it-card>
      </div>
    </div>
  </div>
</div>
