<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Container per popover</h4>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-lg btn-danger" it-popover="Popover di esempio" it-title="Titolo del Popover"
        [it-container]="currentContainer">
        Container attuale: {{currentContainer}}
      </button>

      <button type="button" class="btn btn-lg btn-primary" (click)="toggleContainer()">
        Cambia il container del popover
      </button>
    </p>
  </div>
</div>
