<h3>Esempi</h3>

<div class="bd-example">
  <div class="example-section">
    <it-alert color="primary"> Questo è un alert di tipo "<b>primary</b>". </it-alert>

    <it-alert> Questo è un alert di tipo "<b>info</b>". </it-alert>

    <it-alert color="success"> Questo è un alert di tipo "<b>success</b>". </it-alert>

    <it-alert color="warning"> Questo è un alert di tipo "<b>warning</b>". </it-alert>

    <it-alert color="danger"> Questo è un alert di tipo "<b>danger</b>". </it-alert>

    <h3 class="mt-5">Link evidenziato</h3>

    <it-alert color="danger"> Questo è un alert con un esempio di <a href="#" class="alert-link">link</a> evidenziato. </it-alert>
  </div>
</div>
