<h3>Avatar con icona</h3>
<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap bd-example">
  <div itAvatar size="xs">
    <it-icon name="search" title="Ricerca" color="primary"></it-icon>
    <span class="visually-hidden">Cerca</span>
  </div>
  <div itAvatar size="sm">
    <it-icon name="search" title="Ricerca" color="secondary"></it-icon>
    <span class="visually-hidden">Cerca</span>
  </div>
  <div itAvatar size="lg">
    <it-icon name="search" title="Ricerca" color="success"></it-icon>
    <span class="visually-hidden">Cerca</span>
  </div>
  <div itAvatar size="xl">
    <it-icon name="search" title="Ricerca" color="warning"></it-icon>
    <span class="visually-hidden">Cerca</span>
  </div>
  <div itAvatar size="xxl">
    <it-icon name="search" title="Ricerca" color="danger"></it-icon>
    <span class="visually-hidden">Cerca</span>
  </div>
</div>
