<h3>Chip con link</h3>
<div class="bd-example">
  <div class="row">
    <div class="col-6 col-sm-auto">
      <it-chip label="Vai al sito" href="https://designers.italia.it"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [icon]="iconGithub" label="GitHub" href="https://github.com/italia"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip
        [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'"
        [altAvatar]="'Mario Rossi'"
        label="Profilo"
        href="https://designers.italia.it"></it-chip>
    </div>
    <div class="col-6 col-sm-auto">
      <it-chip [size]="size" label="Link grande" href="https://designers.italia.it"></it-chip>
    </div>
  </div>
</div>
