<div class="card w-50 mt-2">
  <div class="card-body">

    <h4 class="card-title">Bottoni con icone</h4>
    <div class="py-1">
      <p class="card-text" class="example-section">
        <it-button color="primary">Primary</it-button>
        <it-button color="primary" outline>Primary outline</it-button>
        <it-button color="primary" disabled>Primary disabled</it-button>
      </p>
      <p class="card-text" class="example-section">
        <it-button color="secondary">Secondary</it-button>
        <it-button color="secondary" outline>Secondary outline</it-button>
        <it-button color="secondary" disabled>Secondary disabled</it-button>
      </p>
    </div>

    <h4 class="card-title">Varianti di colore con sfondo scuro</h4>
    <div class="bg-dark py-1">
      <p class="card-text" class="example-section">
        <it-button color="primary">Primary</it-button>
        <it-button color="primary" outline>Primary outline</it-button>
        <it-button color="primary" disabled>Primary disabled</it-button>
      </p>
      <p class="card-text" class="example-section">
        <it-button color="secondary">Secondary</it-button>
        <it-button color="secondary" outline>Secondary outline</it-button>
        <it-button color="secondary" disabled>Secondary disabled</it-button>
      </p>
    </div>
    
  </div>
</div>