<div class="row">
  <div class="col-12 col-md-4 mb-4">
    <h4>No menu</h4>
    <it-dropdown label="Azione diretta" noMenu> </it-dropdown>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <h4>Custom icon</h4>
    <it-dropdown label="Impostazioni" icon="it-settings">
      <it-dropdown-item>Profilo</it-dropdown-item>
      <it-dropdown-item>Preferenze</it-dropdown-item>
    </it-dropdown>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <h4>No menu + custom icon</h4>
    <it-dropdown label="Download" icon="it-download" noMenu> </it-dropdown>
  </div>
</div>
