<h1 class="bd-title">Avatar</h1>
<p class="bd-lead">Il componente per l'uso di avatar</p>
<div [innerHTML]="component.description"></div>  

<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap">
  <div itAvatar size="xs">
    <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
  </div>
  <div itAvatar size="sm">
    <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Luisa Neri">
  </div>
  <div itAvatar >
    <img src="https://randomuser.me/api/portraits/men/43.jpg" alt="Gioacchino Romani">
  </div>
  <div itAvatar size="lg">
    <img src="https://randomuser.me/api/portraits/women/41.jpg" alt="Anna Barbieri">
  </div>
  <div itAvatar size="xl">
    <img src="https://randomuser.me/api/portraits/men/33.jpg" alt="Carlo Poli">
  </div>
  <div itAvatar size="xxl">
    <img src="https://randomuser.me/api/portraits/women/24.jpg" alt="Giovanna Ferrero">
  </div>
</div>

<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap">
  <div itAvatar size="xs">
    <p aria-hidden="true">Mb</p>
  </div>
  <div itAvatar size="sm">
    <p aria-hidden="true">M</p>
  </div>
  <div itAvatar >
    <p aria-hidden="true">M</p>
  </div>
  <div itAvatar size="lg">
    <p aria-hidden="true">M</p>
  </div>
  <div itAvatar size="xl">
    <p aria-hidden="true">M</p>
  </div>
  <div itAvatar size="xxl">
    <p aria-hidden="true">M</p>
  </div>
</div>

