<h3>Lista con azioni multiple, metadata e testo aggiuntivo</h3>
<p></p>

<div class="bd-example">
    <it-list>
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <span class="text">Link lista 1</span>
          <ng-container multiple>
            <a href="#" aria-label="Testo - Azione 1">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
            <a href="#" aria-label="Testo - Azione 2">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
            <a href="#" aria-label="Testo - Azione 3">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
          </ng-container>
        </it-list-item>
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <span class="text">Link lista 2</span>
          <ng-container multiple>
            <span class="metadata">metadata testo</span>
            <a href="#" aria-label="Testo - Azione 1">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
            <a href="#" aria-label="Testo - Azione 2">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
            <a href="#" aria-label="Testo - Azione 3">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
          </ng-container>
        </it-list-item>
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <span class="text">Testo<em>Lorem ipsum dolor sit amet.</em></span>
          <ng-container multiple>
            <span class="metadata">metadata testo</span>
            <a href="#" aria-label="Testo - Azione 1">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
            <a href="#" aria-label="Testo - Azione 2">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
            <a href="#" aria-label="Testo - Azione 3">
              <it-icon name="code-circle" color="primary"></it-icon>
            </a>
          </ng-container>
        </it-list-item>
    </it-list>
</div>