<div class="bd-example">
  <h3 class="mb-4">Slim header</h3>

  <p>
    Lo <strong>Slim Header</strong> mostra un’intestazione, solitamente con
    riferimento all’ente di appartenenza del progetto o riferimenti utili,
    oltre ad un eventuale menu per il cambio lingua e l’accesso ad area riservata.
  </p>

  <it-header [slimHeader]="true"
             [mainHeader]="false"
             [secondaryNavigation]="navigation"
             slimTitle="Ente di appartenenza">
  </it-header>


  <br>
  <br>

  <it-header [light]="light"
             [slimHeader]="true"
             [mainHeader]="false"
             [secondaryNavigation]="navigation"
             slimTitle="Ente di appartenenza">
  </it-header>

  <br>
  <br>

  <h3 class="mb-4">Zona destra con pulsante full-responsive</h3>

  <it-header [slimHeader]="true"
             [mainHeader]="false"
             loginStyle="full"
             slimTitle="Ente di appartenenza">
  </it-header>
</div>
