<div class="bd-example">
  <h3 class="mb-4">Slim header</h3>

  <it-header [slimHeader]="true"
             [secondaryNavigation]="navigation"
             title="Ente di appartenenza">
  </it-header>

  <br>
  <br>

  <h3 class="mb-4">Slim header light</h3>

  <it-header [light]="light"
             [slimHeader]="true"
             [secondaryNavigation]="navigation"
             title="Ente di appartenenza">
  </it-header>

  <br>
  <br>

  <h3 class="mb-4">Zona destra con pulsante full-responsive</h3>

  <it-header [slimHeader]="true"
             loginStyle="full"
             title="Ente di appartenenza">
  </it-header>
</div>
