<h3>Lista semplice</h3>
<p></p>

<div class="bd-example">
    <it-list linkList="true">
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <it-icon name="chevron-right" color="primary"></it-icon>
          <span>Link lista 1</span>
        </it-list-item>
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <it-icon name="chevron-right" color="primary"></it-icon>
          <span>Link lista 2</span>
        </it-list-item>
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <it-icon name="chevron-right" color="primary"></it-icon>
          <span>Link lista 3</span>
        </it-list-item>
    </it-list>
</div>
