<div class="card w-50 mt-2">
  <div class="card-body">

    <h4 class="card-title">Varianti di colore con sfondo chiaro</h4>
    <div class="py-1">
      <p class="card-text" class="example-section">
        <it-button [color]="primaryColor">Primary</it-button>
        <it-button [color]="primaryColor" [outline]="isOutlined">Primary outline</it-button>
        <it-button [color]="primaryColor" [disabled]="isDisabled">Primary disabled</it-button>
      </p>
      <p class="card-text" class="example-section">
        <it-button [color]="secondaryColor">Secondary</it-button>
        <it-button [color]="secondaryColor" [outline]="isOutlined">Secondary outline</it-button>
        <it-button [color]="secondaryColor" [disabled]="isDisabled">Secondary disabled</it-button>
      </p>
    </div>

    <h4 class="card-title">Varianti di colore con sfondo scuro</h4>
    <div class="bg-dark py-1">
      <p class="card-text" class="example-section">
        <it-button [color]="primaryColor">Primary</it-button>
        <it-button [color]="primaryColor" [outline]="isOutlined">Primary outline</it-button>
        <it-button [color]="primaryColor" [disabled]="isDisabled">Primary disabled</it-button>
      </p>
      <p class="card-text" class="example-section">
        <it-button [color]="secondaryColor">Secondary</it-button>
        <it-button [color]="secondaryColor" [outline]="isOutlined">Secondary outline</it-button>
        <it-button [color]="secondaryColor" [disabled]="isDisabled">Secondary disabled</it-button>
      </p>
    </div>
    
  </div>
</div>