<div class="card w-50 mt-2">
  <div class="card-body">

    <h4 class="card-title">Varianti di colore con sfondo chiaro</h4>
    <div class="py-1">
      <p class="card-text" class="example-section">
        <button itButton="primary">Primary</button>
        <button itButton="primary" outline>Primary outline</button>
        <button itButton="primary" disabled>Primary disabled</button>
      </p>
      <p class="card-text" class="example-section">
        <button itButton="secondary">Secondary</button>
        <button itButton="secondary" outline>Secondary outline</button>
        <button itButton="secondary" disabled>Secondary disabled</button>
      </p>
    </div>

    <h4 class="card-title">Varianti di itButtone con sfondo scuro</h4>
    <div class="bg-dark py-1">
      <p class="card-text" class="example-section">
        <button itButton="primary">Primary</button>
        <button itButton="primary" outline>Primary outline</button>
        <button itButton="primary" disabled>Primary disabled</button>
      </p>
      <p class="card-text" class="example-section">
        <button itButton="secondary">Secondary</button>
        <button itButton="secondary" outline>Secondary outline</button>
        <button itButton="secondary" disabled>Secondary disabled</button>
      </p>
    </div>
    
  </div>
</div>