<h3>Radio checked</h3>
<div class="bd-example">
  <div class="example-section">
    <fieldset>
      <legend>Seleziona la nazionalità</legend>
      <it-radio-button name="nation" value="USA" label="USA" [(ngModel)]="selectedNation"></it-radio-button>

      <it-radio-button name="nation" value="Italia" label="Italia" [(ngModel)]="selectedNation"></it-radio-button>

      <it-radio-button name="nation" value="Spagna" label="Spagna" [(ngModel)]="selectedNation"></it-radio-button>
    </fieldset>
  </div>
  <div class="example-selected-value">Nazione selezionata: {{ selectedNation }}</div>
</div>
