<h3>Radio checked</h3>
<div class="bd-example">
  <div class="example-section">
    <it-radio-button id="radio-usa" name="nation" value="USA" label="USA"
                      [(ngModel)]="selectedNation"></it-radio-button>

    <it-radio-button id="radio-italia" name="nation" value="Italia" label="Italia"
                     [(ngModel)]="selectedNation"></it-radio-button>

    <it-radio-button  id="radio-spagna"  name="nation" value="Spagna" label="Spagna"
                      [(ngModel)]="selectedNation"></it-radio-button>
  </div>

  <div class="example-selected-value">Nazione selezionata: {{selectedNation}}</div>
</div>
