<h1 class="bd-title">BackButton</h1>
<p class="bd-lead">Consente agli utenti di avere un link o pulsante con un'azione equivalente al "torna indietro" del browser.</p>
<div [innerHTML]="component.description"></div>  
<it-tab-container>
  <it-tab-item id="example" label="Esempi" active="true" class="mt-3">
    <it-back-button-examples></it-back-button-examples>
  </it-tab-item>
  <it-tab-item id="api" label="API" class="mt-3">
    <it-api-parameters [component]="component"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
