<div class="row my-3">
    <div class="col">
        <h3>Dimmer primary con 1 pulsante</h3>
    </div>
</div>
<div class="row my-3">
    <div class="col-auto">
        <it-checkbox id="toggle-dimmer-button-primary" [(ngModel)]="active" label="Attiva"
            [toggle]="true"></it-checkbox>
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <it-dimmer [hasOneButton]="true" [color]="color" [title]="title" [active]="active">
            <ng-container buttons>
                <it-button color="primary">Azione primaria</it-button>
            </ng-container>
            <ng-container body>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor…</h5>
                                    <p class="card-text">Praesent volutpat in dolor in sollicitudin. Donec mollis varius
                                        condimentum. Nunc viverra, metus at viverra consectetur, magna orci posuere
                                        ipsum, et bibendum est urna sed sem. Fusce libero neque, elementum volutpat
                                        tincidunt id, egestas vitae nisi. Nulla vulputate luctus sem, eu maximus lacus
                                        faucibus eget. Fusce tristique enim augue, sed suscipit lorem bibendum vel.
                                        Donec vehicula vehicula nibh non suscipit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor…</h5>
                                    <p class="card-text">Praesent volutpat in dolor in sollicitudin. Donec mollis varius
                                        condimentum. Nunc viverra, metus at viverra consectetur, magna orci posuere
                                        ipsum, et bibendum est urna sed sem. Fusce libero neque, elementum volutpat
                                        tincidunt id, egestas vitae nisi. Nulla vulputate luctus sem, eu maximus lacus
                                        faucibus eget. Fusce tristique enim augue, sed suscipit lorem bibendum vel.
                                        Donec vehicula vehicula nibh non suscipit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card-wrapper">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do eiusmod tempor…</h5>
                                    <p class="card-text">Praesent volutpat in dolor in sollicitudin. Donec mollis varius
                                        condimentum. Nunc viverra, metus at viverra consectetur, magna orci posuere
                                        ipsum, et bibendum est urna sed sem. Fusce libero neque, elementum volutpat
                                        tincidunt id, egestas vitae nisi. Nulla vulputate luctus sem, eu maximus lacus
                                        faucibus eget. Fusce tristique enim augue, sed suscipit lorem bibendum vel.
                                        Donec vehicula vehicula nibh non suscipit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </it-dimmer>
    </div>
</div>