<h3>Router Module</h3>
<p>Puoi utilizzare la pagina d'errore direttamente sul tuo RouterModule (ad esempio app-routing.module.ts)</p>

<div class="bd-example">
  <div class="d-flex justify-content-between mb-3">
    <h4>404 - Not Found</h4>
    <a itButton="primary" size="sm" routerLink="/error/not-found">Prova</a>
  </div>
  <it-source-display [typescript]="notFound"></it-source-display>

  <div class="d-flex justify-content-between mt-5 mb-3">
    <h4>403 - Forbidden</h4>
    <a itButton="primary" size="sm" routerLink="/error/forbidden">Prova</a>
  </div>
  <it-source-display [typescript]="forbidden"></it-source-display>

  <div class="d-flex justify-content-between mt-5 mb-3">
    <h4>500 - Internal Server Error</h4>
    <a itButton="primary" size="sm" routerLink="/error/server-error">Prova</a>
  </div>
  <it-source-display [typescript]="internalServerError"></it-source-display>

  <h4 class="mt-5">Personalizzato</h4>
  <p class="mb-3">Puoi passare nella route gli attributi per personalizzare la pagina</p>
  <it-source-display [typescript]="custom"></it-source-display>
</div>
