<div class="row">
  <div class="col-12 col-md-6">
    <it-dropdown label="Classi personalizzate">
      <it-dropdown-item itemClass="fw-bold text-primary">Elemento grassetto primario</it-dropdown-item>
      <it-dropdown-item itemClass="fst-italic text-success">Elemento corsivo successo</it-dropdown-item>
      <it-dropdown-item itemClass="text-decoration-underline">Elemento sottolineato</it-dropdown-item>
      <it-dropdown-item>Elemento standard</it-dropdown-item>
    </it-dropdown>
  </div>
</div>
