<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Le quattro direzioni</h4>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-outline-secondary mr-2" it-placement="top"
        it-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-top">
        Popover in alto
      </button>
      
      <button type="button" class="btn btn-outline-secondary mr-2" it-placement="right"
        it-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-right">
        Popover a destra
      </button>

      <button type="button" class="btn btn-outline-secondary mr-2" it-placement="left"
        it-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-left">
        Popover a sinistra
      </button>

      <button type="button" class="btn btn-outline-secondary mr-2" it-placement="bottom"
        it-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-bottom">
        Popover in basso
      </button>
    </p>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-lg btn-danger" it-popover="Popover di esempio" it-title="Titolo del Popover" 
        [it-placement]="currentPlacement" id="popover-example-placements">
        Clicca per il popover ricollocabile
      </button>

      <button type="button" class="btn btn-lg btn-primary" (click)="changeCurrentPlacement()" id="popover-placements-button">
        Cambia il collocamento della popover
      </button>
    </p>
  </div>
</div>