<div class="card w-50 mt-2">
  <div class="card-body">
    <h4 class="card-title">Le quattro direzioni</h4>

    <p class="card-text" class="example-section">
      <button type="button" class="btn btn-outline-secondary mr-2" placement="top"
        itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-top">
        Popover in alto
      </button>
      
      <button type="button" class="btn btn-outline-secondary mr-2" placement="right"
        itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-right">
        Popover a destra
      </button>

      <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
        itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-left">
        Popover a sinistra
      </button>

      <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." id="popover-example-bottom">
        Popover in basso
      </button>
    </p>
  </div>
</div>