<h3>Le quattro direzioni</h3>
<div class="bd-example">
  <p class="row justify-content-around">
    <button type="button" class="col-2 btn btn-outline-secondary" 
      placement="top"
      itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
      id="popover-example-top">
      Popover in alto
    </button>
    
    <button type="button" class="col-2 btn btn-outline-secondary" 
      placement="right"
      itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
      id="popover-example-right">
      Popover a destra
    </button>

    <button type="button" class="col-2 btn btn-outline-secondary" 
      placement="left"
      itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
      id="popover-example-left">
      Popover a sinistra
    </button>

    <button type="button" class="col-2 btn btn-outline-secondary" 
      placement="bottom"
      itPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." 
      id="popover-example-bottom">
      Popover in basso
    </button>
  </p>
</div>
