<h3>Esempio Breadcrumb</h3>
<div class="bd-example">
  <it-breadcrumb [dark]="isDark" [customClass]="isDark ? 'px-3' : null" [separator]="separator">
    <it-breadcrumb-item *ngFor="let item of items"
      customClass = "me-1"
      [link]="item.link" [icon]="item.icon" [iconColor]="isDark ? 'white' : 'primary'">
      {{item.label}}
    </it-breadcrumb-item>
  </it-breadcrumb>

  <div class="row">
    <div class="form-check col-6">
      <h4>Azioni</h4>
      <it-checkbox [(ngModel)]="isDark" label="Sfondo scuro" id="dark-checkbox"></it-checkbox>
      <div class="row mt-4">
        <div class="col-6">
          <button type="button" id="add-button" class="btn btn-primary btn-lg btn-block mb-3" 
          (click)="insert()">
            Aggiungi breadcrumb
          </button>
        </div>
        <div class="col-6">
          <button type="button" id="remove-button" class="btn btn-primary btn-lg btn-block" 
          (click)="remove()" [disabled] = "!items.length">
            Rimuovi breadcrumb
          </button>
        </div>
      </div>
     

     
    </div>
    <div class="form-check col-3">
      <h5>Separatore</h5>
      <it-radio-group [(ngModel)]="separator">
        <it-radio-button id="radio-sl" name="sl" value="/" label="/"></it-radio-button>
        <it-radio-button id="radio-gt" name="gt" value=">" label=">"></it-radio-button>
        <it-radio-button id="radio-tl" name="tl" value="~" label="~"></it-radio-button>
      </it-radio-group>
    </div>
    <div class="form-check col-3">
      <h5>Icona</h5>
      <it-radio-group [(ngModel)]="icon">
        <it-radio-button id="radio-none" name="none" [value]="undefined" label="Nessuna"></it-radio-button>
        <it-radio-button id="radio-star" name="it-star-outline" value="it-star-outline" label="it-star-outline"></it-radio-button>
        <it-radio-button id="radio-link" name="it-link" value="it-link" label="it-link"></it-radio-button>
      </it-radio-group>
    </div>
  </div>
</div>