<div class="card w-100 mt-2">
  <div class="card-body">
    <h4 class="card-title">Esempio Breadcrumb</h4>

    <div class="card-text">
      <it-breadcrumb [dark]="isDark" [separator]="separator">
        <it-breadcrumb-item *ngFor="let item of items"
          [link]="item.link" [icon]="item.icon">
          {{item.label}}
        </it-breadcrumb-item>
      </it-breadcrumb>

      <div class="row">
        <div class="form-check col-4">
          <h5>Azioni</h5>
          <it-checkbox [(ngModel)]="isDark" label="Sfondo scuro" id="dark-checkbox"></it-checkbox>
          <button type="button" class="btn btn-success btn-lg" (click)="insert()">+</button>
          <button type="button" class="btn btn-danger btn-lg" (click)="remove()">-</button>
        </div>
        <div class="form-check col-3">
          <h5>Separatore</h5>
          <it-radio-group [(ngModel)]="separator">
            <it-radio-button id="radio-sl" name="sl" value="/" label="/"></it-radio-button>
            <it-radio-button id="radio-gt" name="gt" value=">" label=">"></it-radio-button>
            <it-radio-button id="radio-tl" name="tl" value="~" label="~"></it-radio-button>
          </it-radio-group>
        </div>
        <div class="form-check col-5">
          <h5>Icona</h5>
          <it-radio-group [(ngModel)]="icon">
            <it-radio-button id="radio-favorite" name="it-favorite" value="it-favorite" label="it-favorite"></it-radio-button>
            <it-radio-button id="radio-facebook" name="it-facebook" value="it-facebook" label="it-facebook"></it-radio-button>
            <it-radio-button id="radio-flickr" name="it-flickr" value="it-flickr" label="it-flickr"></it-radio-button>
          </it-radio-group>
        </div>
      </div>
    </div>
  </div>
</div>