<h3>Tipi di notifica</h3>

<div class="bd-example">
  <div class="d-flex mb-2">
    <button class="btn-me" [itButton]="undefined" size="sm" (click)="standardNotification()">Notifica Standard</button>
    <button class="btn-me" itButton="success" size="sm" (click)="successNotification()">Notifica Successo</button>
    <button class="btn-me" itButton="danger" size="sm" (click)="errorNotification()">Notifica Errore</button>
    <button class="btn-me" itButton="warning" size="sm" (click)="warningNotification()">Notifica Precauzione</button>
    <button class="btn-me" itButton="info" size="sm" (click)="infoNotification()">Notifica Info</button>
  </div>
</div>
