<h4>Custom Icon Registry</h4>
<p>Icone registrate tramite <code>ItIconRegistryService</code>:</p>

<div class="row mb-3">
  <div class="col-12 col-md-4 text-center">
    <p><strong>Inline SVG</strong></p>
    <it-icon name="custom-heart" size="lg" color="danger"></it-icon>
    <p class="mt-2"><code>custom-heart</code></p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <p><strong>Batch registration</strong></p>
    <it-icon name="custom-star" size="lg" color="warning"></it-icon>
    <it-icon name="custom-check" size="lg" color="success" class="ms-2"></it-icon>
    <p class="mt-2"><code>custom-star</code> / <code>custom-check</code></p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <p><strong>External sprite</strong></p>
    <it-icon name="external-icon" size="lg"></it-icon>
    <p class="mt-2"><code>external-icon</code> (sprite)</p>
  </div>
</div>
