<h1 class="bd-title">Tooltip</h1>
<p class="bd-lead">La direttiva tooltip utilizzabile per aggiungere dei tooltip informativi a qualsiasi elemento del tuo sito</p>
<div [innerHTML]="directive.description"></div>
<it-tab-container>
  <it-tab-item id="example" label="Esempi" active="true" class="pt-3">
    <it-tooltip-examples></it-tooltip-examples>
  </it-tab-item>
  <it-tab-item id="api" label="API" class="pt-3">
    <it-api-parameters [component]="directive"></it-api-parameters>
  </it-tab-item>
</it-tab-container>
