<h3>Card semplice</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <it-card hasImage="true">
        <h3 class="it-card-title"><a href="#">Titolo del contenuto</a></h3>
        <div class="it-card-image-wrapper">
          <div class="ratio ratio-16x9">
            <figure class="figure img-full">
              <img
                src="https://placeholderimage.eu/api/city/800/600"
                alt="Breve descrizione immagine se ha senso nel contesto, marcare altrimenti come decorativa lasciando l'alt applicato ma vuoto." />
            </figure>
          </div>
        </div>
        <div class="it-card-body">
          <p class="it-card-text">
            Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
            troncamento.
          </p>
        </div>
        <footer class="it-card-related it-card-footer">
          <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
        </footer>
      </it-card>
    </div>
  </div>
</div>
