



<it-toggle-example></it-toggle-example>

<it-source-display html="
  &lt;div class=&quot;card w-50 mt-2&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Configurazione toggle&lt;/h4&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
      &lt;it-toggle [(ngModel)]=&quot;checked&quot; label=&quot;Spuntato&quot;&gt;&lt;/it-toggle&gt;
      &lt;it-toggle [(ngModel)]=&quot;disabled&quot; label=&quot;Disabilitato&quot;&gt;&lt;/it-toggle&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card w-50 mt-2&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Risultato&lt;/h4&gt;

    &lt;p class=&quot;card-text&quot; class=&quot;example-section&quot;&gt;
        &lt;it-toggle [(ngModel)]=&quot;checked&quot; [label]=&quot;label&quot; [disabled]=&quot;disabled&quot;&gt;&lt;/it-toggle&gt;
    &lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

" typescript="
  import { Component, OnInit } from &#39;@angular/core&#39;;

@Component({
  selector: &#39;it-toggle-example&#39;,
  templateUrl: &#39;./toggle-example.component.html&#39;,
  styleUrls: [&#39;./toggle-example.component.scss&#39;]
})
export class ToggleExampleComponent implements OnInit {

  checked = true;
  label = &#39;Sono una toggle&#39;;
  disabled = false;

  constructor() { }

  ngOnInit() {
  }

}

" >
</it-source-display>
