<h3>Esempio Collapse Group con Collapse Item</h3>
<div class="bd-example">
  <div class="example-section">
    <it-checkbox [(ngModel)]="accordion" label="Accordion"></it-checkbox>
    <it-collapse-group [accordion]="accordion">
      <it-collapse-item header="titolo">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
        3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
      </it-collapse-item>
      <it-collapse-item header="titolo">
        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft 
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of 
        them accusamus labore sustainable VHS.
      </it-collapse-item>
      <it-collapse-item header="titolo">
        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </it-collapse-item>
    </it-collapse-group>
  </div>
</div>

