<div class="card w-100 mt-2">
    <div class="card-body">
      <h4 class="card-title">Esempio Collapse Group con Collapse Item</h4>
  
      <div class="card-text" class="example-section">      
        <it-collapse-group accordion>
          <it-collapse-item header="titolo">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
          </it-collapse-item>
          <it-collapse-item header="titolo">
            Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </it-collapse-item>
          <it-collapse-item header="titolo">
            Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </it-collapse-item>
        </it-collapse-group>
      </div>
    </div>
  </div>