<h3>Esempio Collapse Group con Collapse Item</h3>
<div class="bd-example">
  <div class="example-section">

    <it-accordion id="accordion-1" title="titolo">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
      3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
    </it-accordion>
    <it-accordion id="accordion-2" title="titolo">
      Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
      beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
      them accusamus labore sustainable VHS.
    </it-accordion>
    <it-accordion id="accordion-3" title="titolo">
      Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
      Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </it-accordion>
  </div>
</div>

