
<h3>Elementi disabilitati</h3>
<div class="bd-example">
  <p class="example-section">
    <span class="d-inline-block" itPopover="Popover disabilitato">
      <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>
        Elemento disabilitato con popover abilitato
      </button>
    </span>
  </p>

  <p class="example-section">
    <span class="d-inline-block" itPopover="Popover disabilitato" disablePopover="true">
      <button class="btn btn-primary" style="pointer-events: none;" type="button">
        Elemento attivo con popover disabilitato
      </button>
    </span>
  </p>
</div>
