<h3>Avatar con link</h3>
<div class="d-flex align-items-center justify-content-around flex-wrap flex-sm-nowrap bd-example">
  <a itAvatar size="xl" href="#">
    <img src="https://randomuser.me/api/portraits/women/41.jpg" alt="Anna Barbieri" />
  </a>
  <a itAvatar size="xl" href="#" color="red">
    <p aria-hidden="true">MR</p>
    <span class="visually-hidden">Mario Rossi</span>
  </a>
  <a itAvatar size="xl" href="#">
    <it-icon name="search" title="Ricerca" color="secondary"></it-icon>
    <span class="visually-hidden">Cerca</span>
  </a>
</div>
