<h1>Barra di avanzamento</h1>
<h5>Il componente Barra di avanzamento utilizzabile per mostrare dei progressi</h5>

<ul class="nav nav-tabs" id="progress-bar-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="progress-bar-description-tab" data-toggle="tab" href="#progress-bar-description-tab-content" role="tab" aria-controls="progress-bar-description-tab-content" aria-selected="true">Descrizione</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="progress-bar-api-tab" data-toggle="tab" href="#progress-bar-api-tab-content" role="tab" aria-controls="progress-bar-api-tab-content" aria-selected="false">API</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="progress-bar-examples-tab" data-toggle="tab" href="#progress-bar-examples-tab-content" role="tab" aria-controls="progress-bar-examples-tab-content" aria-selected="false">Esempi</a>
  </li>
</ul>
<div class="tab-content" id="progress-bar-content-tab">
  <div class="tab-pane p-3 fade show active" id="progress-bar-description-tab-content" role="tabpanel" aria-labelledby="progress-bar-description-tab-content">
    <div [innerHTML]="component.description"></div>
  </div>
  <div class="tab-pane p-3 fade" id="progress-bar-api-tab-content" role="tabpanel" aria-labelledby="progress-bar-api-tab-content">
    <it-api-parameters [component]="component"></it-api-parameters>
  </div>
  <div class="tab-pane p-3 fade" id="progress-bar-examples-tab-content" role="tabpanel" aria-labelledby="progress-bar-examples-tab-content">
    <it-progress-bar-examples></it-progress-bar-examples>
  </div>
</div>
