* {
  font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
}


.bd-navbar {
  min-height: 5rem;
  z-index: 1070;
}

.bd-logo-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: unset;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .bd-logo-title {
    font-size: 24px;
  }
}
.bd-logo-subtitle {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: unset;
}
.bd-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #fff;
}

.navbar.navbar-institutional {
  background-color: #0059b3;
  padding: .25rem 1rem;
  .navbar-brand{
    font-size: 14px;
    font-weight: 400;
  }
  .navbar-nav {
    .nav-item {
      padding: .5rem 0;
      &:hover {
        -webkit-box-shadow: 0 .25rem 0 0 #fff;
        box-shadow: 0 .25rem 0 0 #fff;
      }
    }
    .nav-link {
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      padding: 0 .75rem;
    }
  }
}

@media (min-width: 992px) {
  .nav-item-w-divider .nav-link {
      border-right: 1px solid rgba(255,255,255,.5);
  }
}

.card-title {
  margin-bottom: 35px;
}


