<h3>Footer completo</h3>

<div class="bd-example">
  <it-footer>
    <ng-container header>
      <div class="it-brand-wrapper">
        <a href="#" data-focus-mouse="false">
          <it-icon name="code-circle" />
          <div class="it-brand-text">
            <h2>Lorem Ipsum</h2>
            <h3 class="d-none d-md-block">Inserire qui la tag line</h3>
          </div>
        </a>
      </div>
    </ng-container>
    <ng-container links>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
          <h4>
            <a href="#" title="Vai alla pagina: Amministrazione">Amministrazione</a>
          </h4>
          <it-list linkList="true">
            <it-list-item href="#">Giunta e consiglio</it-list-item>
            <it-list-item href="#">Aree di competenza</it-list-item>
            <it-list-item href="#">Dipendenti</it-list-item>
            <it-list-item href="#">Luoghi</it-list-item>
            <it-list-item href="#">Associazioni e società partecipate</it-list-item>
          </it-list>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
          <h4>
            <a href="#" title="Vai alla pagina: Servizi">Servizi</a>
          </h4>
          <it-list linkList="true">
            <it-list-item href="#">Pagamenti</it-list-item>
            <it-list-item href="#">Sostegno</it-list-item>
            <it-list-item href="#">Domande e iscrizioni</it-list-item>
            <it-list-item href="#">Segnalazioni</it-list-item>
            <it-list-item href="#">Autorizzazioni e concessioni</it-list-item>
            <it-list-item href="#">Certificati e dichiarazioni</it-list-item>
          </it-list>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
          <h4>
            <a href="#" title="Vai alla pagina: Novità">Novità</a>
          </h4>
          <it-list linkList="true">
            <it-list-item href="#">Notizie</it-list-item>
            <it-list-item href="#">Eventi</it-list-item>
            <it-list-item href="#">Comunicati stampa</it-list-item>
          </it-list>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
          <h4>
            <a href="#" title="Vai alla pagina: Documenti">Documenti</a>
          </h4>
          <it-list linkList="true">
            <it-list-item href="#">Progetti e attività</it-list-item>
            <it-list-item href="#">Delibere, determine e ordinanze</it-list-item>
            <it-list-item href="#">Bandi</it-list-item>
            <it-list-item href="#">Concorsi</it-list-item>
            <it-list-item href="#">Albo pretorio</it-list-item>
          </it-list>
        </div>
      </div>
    </ng-container>
    <ng-container contacts>
      <div class="row">
        <div class="col-lg-4 col-md-4 pb-2">
          <h4>Contatti</h4>
          <p>
            <strong>Comune di Lorem Ipsum</strong><br />
            Via Roma 0 - 00000 Lorem Ipsum Codice fiscale / P. IVA: 000000000
          </p>
          <it-list linkList="true">
            <it-list-item href="#">Posta Elettronica Certificata</it-list-item>
            <it-list-item href="#">URP - Ufficio Relazioni con il Pubblico</it-list-item>
          </it-list>
        </div>
        <div class="col-lg-4 col-md-4 pb-2">
          <h4>Lorem Ipsum</h4>
        </div>
        <div class="col-lg-4 col-md-4 pb-2">
          <div class="pb-2">
            <h4>Seguici su</h4>
            <ul class="list-inline text-left social">
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#">
                  <it-icon name="designers-italia" color="white" size="sm" />
                  <span class="visually-hidden">Designers Italia (link esterno)</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#">
                  <it-icon name="twitter" color="white" size="sm" />
                  <span class="visually-hidden">X (link esterno)</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#">
                  <it-icon name="medium" color="white" size="sm" />
                  <span class="visually-hidden">Medium (link esterno)</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" href="#">
                  <it-icon name="behance" color="white" size="sm" />
                  <span class="visually-hidden">Behance (link esterno)</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container small-links>
      <li class="list-inline-item"><a href="#">Media policy</a></li>
      <li class="list-inline-item"><a href="#">Note legali</a></li>
      <li class="list-inline-item"><a href="#">Privacy policy</a></li>
      <li class="list-inline-item"><a href="#">Mappa del sito</a></li>
      <li class="list-inline-item">
        <a href="https://form.agid.gov.it/view/xyz"
          >Dichiarazione di accessibilità <span class="visually-hidden">(link esterno su sito AgID)</span></a
        >
      </li>
    </ng-container>
  </it-footer>
</div>
