<div class="card w-100 mt-2">
    <div class="card-body">
      <h4 class="card-title">Input Numerico</h4>
      <div class="card-text">

        <h5>Limiti e Step</h5>
        <p class = "mb-5">Aggiungendo le proprietà min, max e step all’input è possibile limitare il valore minimo e massimo del campo e decidere di quanto varierà a ogni click sui pulsanti.</p>
        
        <!-- Input numerico con min, max e step -->
        <it-input id="interactive-input-number-0" type="number" name="interactive-input-icon-example-0" label="Min, Max & Step"
                  min="10" max="100" step="5"
        ></it-input>
  
        

        <h5>Valuta</h5>
        <p class = "mb-5">Aggiungendo le proprietà min, max e step all’input è possibile limitare il valore minimo e massimo del campo e decidere di quanto varierà a ogni click sui pulsanti.</p>
        
        <!-- Input numerico con min, max e step -->
        <it-input id="interactive-input-number-0" type="number" name="interactive-input-icon-example-0" label="Currency" currency
        ></it-input>

  
      </div>
    </div>
  </div>