<h3>Gruppi di Chip</h3>
<div class="bd-example">
    <div class="row">
        <div class="col-6 col-sm-auto">
            <it-chip label="Label"></it-chip>
        </div>
        <div class="col-6 col-sm-auto">
            <it-chip [showCloseButton]="true" label="Label"></it-chip>
        </div>
        <div class="col-6 col-sm-auto">
            <it-chip [showCloseButton]="true" [icon]="iconGithub" label="Label"></it-chip>
        </div>
        <div class="col-6 col-sm-auto">
            <it-chip [showCloseButton]="true" [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'" [altAvatar]="'Mario Rossi'" label="Label"></it-chip>
        </div>
    </div> 
    <hr/>
    <div class="row">
        <div class="col-6 col-sm-auto">
            <it-chip [size]="size" label="Label"></it-chip>
        </div>
        <div class="col-6 col-sm-auto">
            <it-chip [showCloseButton]="true" [size]="size" label="Label"></it-chip>
        </div>
        <div class="col-6 col-sm-auto">
            <it-chip [showCloseButton]="true" [icon]="iconGithub" [size]="size" label="Label"></it-chip>
        </div>
        <div class="col-6 col-sm-auto">
            <it-chip [showCloseButton]="true" [avatar]="'https://randomuser.me/api/portraits/men/46.jpg'" [size]="size" [altAvatar]="'Mario Rossi'" label="Label"></it-chip>
        </div>
    </div>
</div>