<h3>Varianti navigazione per mobile</h3>
<h4>Progress bar</h4>
<div class="bd-example mobile-examples">
  <it-steppers-container [activeStep]="1" showHeader="false" progressStyle="progress">
    <it-steppers-item label="Primo contenuto"></it-steppers-item>
    <it-steppers-item label="Secondo contenuto"></it-steppers-item>
    <it-steppers-item label="Terzo contenuto"></it-steppers-item>
  </it-steppers-container>
</div>

<h4>Pallini</h4>
<div class="bd-example mobile-examples">
  <it-steppers-container [activeStep]="1" showHeader="false" progressStyle="dots">
    <it-steppers-item label="Primo contenuto"></it-steppers-item>
    <it-steppers-item label="Secondo contenuto"></it-steppers-item>
    <it-steppers-item label="Terzo contenuto"></it-steppers-item>
  </it-steppers-container>
</div>

<h4>Pulsante salva</h4>
<div class="bd-example">
  <it-steppers-container [activeStep]="1" showHeader="false" showSaveButton="true">
    <it-steppers-item label="Primo contenuto"></it-steppers-item>
    <it-steppers-item label="Secondo contenuto"></it-steppers-item>
    <it-steppers-item label="Terzo contenuto"></it-steppers-item>
  </it-steppers-container>
</div>

<h4>Pulsante conferma</h4>
<div class="bd-example">
  <it-steppers-container [activeStep]="1" showHeader="false" showForwardButton="false" showConfirmButton="true">
    <it-steppers-item label="Primo contenuto"></it-steppers-item>
    <it-steppers-item label="Secondo contenuto"></it-steppers-item>
    <it-steppers-item label="Terzo contenuto"></it-steppers-item>
  </it-steppers-container>
</div>
