<h3>Card di presentazione</h3>
<p></p>

<div class="bd-example">
  <h4>Card di presentazione semplice</h4>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner rounded shadow-sm border">
        <!--card first child is the title (link)-->
        <h3 class="it-card-title">
          <a href="#">Titolo del contenuto</a>
        </h3>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
        <!--card body content-->
        <div class="it-card-body">
          <p class="it-card-subtitle">Sottotitolo</p>
        </div>
      </article>
      <!--end it-card-->
    </div>
  </div>
  <h4>Card banner con azione</h4>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner rounded shadow-sm border">
        <!--card first child is the title (link)-->
        <h3 class="it-card-title">Titolo del contenuto</h3>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
        <!--card body content-->
        <div class="it-card-body">
          <p class="it-card-subtitle">Sottotitolo</p>
        </div>
        <div class="it-card-footer" aria-label="Link correlati:">
          <a href="#">Scopri maggiori informazioni<span class="visually-hidden"> su Titolo del contenuto</span></a>
        </div>
      </article>
      <!--end it-card-->
    </div>
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner rounded shadow-sm border">
        <!--card first child is the title (link)-->
        <h3 class="it-card-title">Titolo del contenuto</h3>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
        <!--card body content-->
        <div class="it-card-body">
          <p class="it-card-subtitle">Sottotitolo</p>
        </div>
        <div class="it-card-footer" aria-label="Link correlati:">
          <button type="button" class="btn btn-outline-primary">
            Apri il form di iscrizione <span class="visually-hidden">per Titolo del contenuto</span>
          </button>
        </div>
      </article>
      <!--end it-card-->
    </div>
  </div>
  <h4>Card banner inline</h4>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner it-card-inline rounded shadow-sm border">
        <!--card first child is all the card content: title (link) + body + footer -->
        <div class="it-card-inline-content">
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <div class="it-card-body">
            <p class="it-card-subtitle">Sottotitolo</p>
          </div>
        </div>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
      </article>
      <!--end it-card-->
    </div>
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner it-card-inline it-card-inline-reverse rounded shadow-sm border">
        <!--card first child is all the card content: title (link) + body + footer -->
        <div class="it-card-inline-content">
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <div class="it-card-body">
            <p class="it-card-subtitle">Sottotitolo</p>
          </div>
        </div>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
      </article>
      <!--end it-card-->
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner it-card-inline it-card-inline-mini rounded shadow-sm border">
        <!--card first child is all the card content: title (link) + body + footer -->
        <div class="it-card-inline-content">
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <div class="it-card-body">
            <p class="it-card-subtitle">Versione inline anche su mobile</p>
          </div>
        </div>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
      </article>
      <!--end it-card-->
    </div>
    <div class="col-12 col-md-6 col-lg-6 mb-3 mb-md-4">
      <!--start it-card-->
      <article class="it-card it-card-banner it-card-inline it-card-inline-mini it-card-inline-reverse rounded shadow-sm border">
        <!--card first child is all the card content: title (link) + body + footer -->
        <div class="it-card-inline-content">
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <div class="it-card-body">
            <p class="it-card-subtitle">Versione inline anche su mobile</p>
          </div>
        </div>
        <!--card second child is the icon (optional)-->
        <div class="it-card-banner-icon-wrapper">
          <svg class="icon icon-secondary icon-xl" aria-hidden="true">
            <use href="/bootstrap-italia/dist/svg/sprites.svg#it-chart-line"></use>
          </svg>
        </div>
      </article>
      <!--end it-card-->
    </div>
  </div>
</div>
