<h3>Card con ombreggiatura</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-lg-6">
      <it-card space="true" background="true">
        <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
        <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="read-more" href="#">
          <span class="text">Leggi di più</span>
          <span class="visually-hidden">su Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span>
          <it-icon name="arrow-right"></it-icon>
        </a>
      </it-card>
    </div>
  </div>
</div>
