<h3>Dimensioni</h3>
<div class="bd-example">
  <div class="d-flex gap-1 align-items-center">
    <it-icon name="check-circle" size="xs" class="bg-light"></it-icon>
    <it-icon name="check-circle" size="sm" class="bg-light"></it-icon>
    <it-icon name="check-circle" class="bg-light"></it-icon>
    <it-icon name="check-circle" size="lg" class="bg-light"></it-icon>
    <it-icon name="check-circle" size="xl" class="bg-light"></it-icon>
  </div>

  <h3 class="mt-5">Padded</h3>
  <div class="d-flex gap-1 align-items-center">
    <it-icon name="check-circle" size="sm" class="bg-light" padded="true"></it-icon>
    <it-icon name="check-circle" size="xs" class="bg-light" padded="true"></it-icon>
    <it-icon name="check-circle" class="bg-light" padded="true"></it-icon>
    <it-icon name="check-circle" size="lg" class="bg-light" padded="true"></it-icon>
    <it-icon name="check-circle" size="xl" class="bg-light" padded="true"></it-icon>
  </div>
</div>
