<h3>Esempio Popover</h3>
<div class="bd-example">
  <it-button color="primary" id="popover-interactive-button"
             [itPopover]="myDescription"
             [popoverTitle]="myTitle"
             [popoverContainer]="container"
             [popoverPlacement]="placement"
             [disabled]="disabled"
             (onShown)="logShown()"
             (onHidden)="logHidden()"
             #interactivePopover="itPopover">
    Bottone con popover
  </it-button>

  <it-checkbox [(ngModel)]="disabled" label="Disabilita bottone e popover" id="disable-popover-checkbox"></it-checkbox>
  <it-checkbox [(ngModel)]="removeTitle" label="Rimuovi titolo" id="remove-title-checkbox"></it-checkbox>

  <div class="row">
    <div class="form-check col-4">
      <h5>Container</h5>
      <it-radio-button id="radio-self" name="self" [(ngModel)]="container" [value]="undefined"
                       label="Apposito"></it-radio-button>
      <it-radio-button id="radio-body" name="body" [(ngModel)]="container" value="body"
                       label="Nel body"></it-radio-button>

    </div>
    <div class="form-check col-5">
      <h5>Collocamento</h5>
      <it-radio-button id="radio-right" name="right" [(ngModel)]="placement" value="right"
                       label="Destra"></it-radio-button>
      <it-radio-button id="radio-top" name="top" [(ngModel)]="placement" value="top" label="Sopra"></it-radio-button>
      <it-radio-button id="radio-left" name="left" [(ngModel)]="placement" value="left"
                       label="Sinistra"></it-radio-button>
      <it-radio-button id="radio-bottom" name="bottom" [(ngModel)]="placement" value="bottom"
                       label="Sotto"></it-radio-button>
    </div>
  </div>

  <it-button color="danger" (click)="interactivePopover.dispose()" id="popover-disposing-button">
    Distruggi il popover
  </it-button>

  <div class="popover-events mt-3">
    <div *ngIf="shownTime">
      Ultima emissione dell'evento shown = {{shownTime | date: 'long'}}
    </div>

    <div *ngIf="hiddenTime">
      Ultima emissione dell'evento hidden = {{hiddenTime | date: 'long'}}
    </div>
  </div>

</div>
