<h3>Titolo e Card semplici</h3>
<div class="bd-example">
  <it-carousel title="Titolo del Carousel" type="three-cols" trackClass="ps-lg-3 pe-lg-3">
    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="it-single-slide-wrapper p-2">
        <it-card rounded="true" border="true" shadow="sm">
          <!--card first child is the title (link)-->
          <h3 class="it-card-title">
            <a href="#">Titolo del contenuto</a>
          </h3>
          <!--card body content-->
          <div class="it-card-body">
            <p class="it-card-text">
              Questo è un testo breve che riassume il contenuto della pagina di destinazione in massimo tre o quattro righe, senza
              troncamento.
            </p>
          </div>
          <!--finally the card footer metadata-->
          <footer class="it-card-related it-card-footer">
            <time class="it-card-date" datetime="2025-04-22">22 aprile 2025</time>
          </footer>
        </it-card>
      </div>
    </it-carousel-item>
  </it-carousel>
</div>
