<h3>Titolo e Card semplici</h3>
<div class="bd-example">

  <it-carousel title="Titolo del Carousel" type="three-cols" trackClass="ps-lg-3 pe-lg-3">

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card space="true" cardClass="card-bg">
          <h5 class="card-title">1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più <span class="visually-hidden">1. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor…</span></span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card space="true" cardClass="card-bg">
          <h5 class="card-title">2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più <span class="visually-hidden">1. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor…</span></span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card space="true" cardClass="card-bg">
          <h5 class="card-title">3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più <span class="visually-hidden">1. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor…</span></span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card space="true" cardClass="card-bg">
          <h5 class="card-title">4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più <span class="visually-hidden">1. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor…</span></span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card space="true" cardClass="card-bg">
          <h5 class="card-title">5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più <span class="visually-hidden">1. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor…</span></span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

    <it-carousel-item>
      <div class="card-wrapper">
        <it-card space="true" cardClass="card-bg">
          <h5 class="card-title">6. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
          <a class="read-more" href="#">
            <span class="text">Leggi di più <span class="visually-hidden">1. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor…</span></span>
            <it-icon name="arrow-right"></it-icon>
          </a>
        </it-card>
      </div>
    </it-carousel-item>

  </it-carousel>

</div>