<h3>Configurazione tabs</h3>
<div class="bd-example">
  <p class="example-section">
    <it-checkbox id="dark-checkbox" [(ngModel)]="isDarkTheme" label="Tema scuro"></it-checkbox>
  </p>
  <p class="example-section">
    <it-checkbox id="disabled-checkbox" [(ngModel)]="isDisabled" label="Disabilita tab custom"></it-checkbox>
  </p>
  <p class="example-section">
    <it-checkbox id="pill-checkbox" [(ngModel)]="isPill" label="Navigazione con pill"></it-checkbox>
  </p>


  <h4 class="mt-5 mb-4">Risultato tabs</h4>
  <!--    TODO  [pill]="isPill"-->
  <it-tab-container [dark]="isDarkTheme">
    <it-tab-item id="docs-example" *ngFor="let tab of tabs; let i = index"
                 [label]="tab.label"
                 [icon]="tab.icon"
                 [active]="i === 0">
      {{tab.content}}
    </it-tab-item>
    <it-tab-item id="docs-icon-example" label="custom" [disabled]="isDisabled" icon="settings">
      <h4>Titolo</h4>
      <p>Contenuto complesso <span itBadge="secondary">badge</span></p>
    </it-tab-item>
  </it-tab-container>

</div>

