on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
name: Test project
jobs:
  run build and tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm i
      - run: npm run build
      - run: npm run test