name: Lint commits

on:
  push:
    branches:
      - v20
  pull_request:
    branches:
      - v20

jobs:
  lint-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: wagoid/commitlint-github-action@v5
