name: Generate new release
on:
  push:
    tags:
      - 'v1*'
jobs:
  release:
    if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main' #|| github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm ci
      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures
      - name: Build library
        run: npm run build:lib
      - name: Copy readme and npmrc files to dist folder
        run: |
          cp README.md dist/design-angular-kit/README.md
          cp .npmrc dist/design-angular-kit/.npmrc
      - name: Publish package to NPM
        run: npm publish
        continue-on-error: true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm i extract-changelog-release
      - name: Generate Release Body
        run: npx extract-changelog-release > RELEASE_BODY.md
      - uses: ncipollo/release-action@v1
        with:
          bodyFile: 'RELEASE_BODY.md'
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: italia/slack-notify-release-action@v0.4.0
        with:
          slack_token: ${{ secrets.SLACK_TOKEN }}
          channel_id: ${{ secrets.SLACK_CHANNEL }}
          project_name: Design Angular Kit
