name: Run tests

on:
  push:
    branches:
      - v20
  pull_request:
    branches:
      - v20

jobs:
  run-build-and-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version: 22.16.0
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run build:lib
      - run: npm run test
      - run: npm run schematics:test
      - uses: codecov/codecov-action@v2
