<h3>Esempio con sfondi supportati</h3>
<div class="bd-example">
  <p class="example-section">
    <it-progress-bar [value]="valueExInfo" [min]="minExInfo" [max]="maxExInfo" [color]="bgColorInfo"></it-progress-bar>
  </p>

  <p class="example-section">
    <it-progress-bar [value]="valueExSuccess" [min]="minExSuccess" [max]="maxExSuccess" [color]="bgColorSuccess"></it-progress-bar>
  </p>

  <p class="example-section">
    <it-progress-bar [value]="valueExWarning" [min]="minExWarning" [max]="maxExWarning" [color]="bgColorWarning"></it-progress-bar>
  </p>

  <p class="example-section">
    <it-progress-bar [value]="valueExDanger" [min]="minExDanger" [max]="maxExDanger" [color]="bgColorDanger"></it-progress-bar>
  </p>
</div>

