<h3>Lista con link e icone</h3>
<p></p>

<div class="bd-example">
    <it-list linkList="true">
        <it-list-item href="#" externalLink="true" iconRight="true">
          <span class="list-item-title-icon-wrapper">
            <span class="list-item-title">Link lista con icona a destra 1</span>
            <it-icon name="link" color="primary"></it-icon>
          </span>
        </it-list-item>
        <it-list-item href="#" externalLink="true" iconRight="true">
          <span class="list-item-title-icon-wrapper">
            <span class="list-item-title">Link lista con icona a destra 2</span>
            <it-icon name="link" color="primary"></it-icon>
          </span>
        </it-list-item>
        <it-list-item href="#" externalLink="true" iconRight="true" disabled="true">
            <span class="list-item-title-icon-wrapper">
              <span class="list-item-title">Link lista disabilitata</span>
              <it-icon name="link" color="primary"></it-icon>
            </span>
        </it-list-item>
        <it-list-item iconLeft="true" href="#" externalLink="true">
          <it-icon name="chevron-right" color="primary"></it-icon>
          <span class="text">Link lista con icona</span>
        </it-list-item>
    </it-list>
</div>
