<h3>Lista con link e icone</h3>
<p></p>

<div class="bd-example">
  <it-list linkList>
    <it-list-item href="#" externalLink iconRight>
      <span class="list-item-title-icon-wrapper">
        <span class="list-item-title">Link lista con icona a destra 1</span>
        <it-icon name="link" color="primary"></it-icon>
      </span>
    </it-list-item>
    <it-list-item href="#" externalLink iconRight>
      <span class="list-item-title-icon-wrapper">
        <span class="list-item-title">Link lista con icona a destra 2</span>
        <it-icon name="link" color="primary"></it-icon>
      </span>
    </it-list-item>
    <it-list-item href="#" externalLink iconRight disabled>
      <span class="list-item-title-icon-wrapper">
        <span class="list-item-title">Link lista disabilitata</span>
        <it-icon name="link" color="primary"></it-icon>
      </span>
    </it-list-item>
    <it-list-item><span class="divider"></span></it-list-item>
    <it-list-item iconLeft href="#" externalLink>
      <span class="list-item-title-icon-wrapper">
        <it-icon name="link" color="primary"></it-icon>
        <span class="text">Link lista con icona 1</span>
      </span>
    </it-list-item>
    <it-list-item iconLeft href="#" externalLink>
      <span class="list-item-title-icon-wrapper">
        <it-icon name="link" color="primary"></it-icon>
        <span class="text">Link lista con icona 2</span>
      </span>
    </it-list-item>
    <it-list-item iconLeft href="#" externalLink disabled>
      <span class="list-item-title-icon-wrapper">
        <it-icon name="link" color="primary"></it-icon>
        <span class="text">Link lista con icona disabilitato</span>
      </span>
    </it-list-item>
  </it-list>
</div>
