<h3>Card grande con tag, data e call to action</h3>
<p></p>

<div class="bd-example">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card-wrapper card-space">
        <it-card background="true" big="true">
          <div class="head-tags">
              <it-link class="card-tag" href="#">Tag</it-link>
              <span class="data">10/10/2023</span>
            </div>
            <h3 class="card-title h5 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h3>
            <p class="card-text font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="it-card-footer">
              <span class="card-signature">di Federico De Paolis</span>
              <it-link class="btn btn-outline-primary btn-sm" href="#">Link Button <span class="visually-hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</span></it-link>
            </div>
        </it-card>
      </div>
    </div>
  </div>
</div>
